.flip-box__split-actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  margin: auto;
  max-width: -webkit-calc(100% - 30px);
  max-width: calc(100% - 30px); }
  .flip-box__split-actions a {
    width: 72px;
    height: 54px;
    background-color: #fff;
    border-left: 1px solid #eaeaea; }
    [dir="rtl"] .flip-box__split-actions a {
      border-left: 0;
      border-right: 1px solid #eaeaea; }
    .flip-box__split-actions a:hover, .flip-box__split-actions a.remove_from_wishlist, .flip-box__split-actions a.remove_from_compare {
      background-color: #eaeaea; }
    .flip-box__split-actions a:first-child {
      border-radius: 27px 0 0 27px;
      border-left: 0; }
      [dir="rtl"] .flip-box__split-actions a:first-child {
        border-radius: 0 27px 27px 0;
        border-right: 0; }
    .flip-box__split-actions a:last-child {
      border-radius: 0 27px 27px 0; }
      [dir="rtl"] .flip-box__split-actions a:last-child {
        border-radius: 27px 0 0 27px; }
  .flip-box__split-actions .added_to_cart {
    font-size: 0.9375rem;
    line-height: 16px;
    padding: 0 5px;
    width: 72px;
    padding-top: 10px; }
  .flip-box__split-actions_small a {
    height: 44px;
    width: 58px; }

.brk-size-chooser__title {
  margin-bottom: 18px; }

.brk-size-chooser__item {
  min-width: 38px;
  padding-left: 14px;
  padding-right: 14px;
  height: 38px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  background-color: #fff;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.06);
  margin-right: 10px;
  -webkit-transition: .3s ease width, .3s ease background-color, .3s ease color;
  transition: .3s ease width, .3s ease background-color, .3s ease color;
  border-radius: 38px; }
  .brk-size-chooser__item:last-child {
    margin-right: 0; }
  .brk-size-chooser__item.active {
    background-color: var(--brand-primary);
    color: #fff; }

.brk-color-filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column; }
  .brk-color-filter__title {
    position: relative;
    margin-bottom: 24px; }
    .brk-color-filter__title-text {
      padding-left: 15px;
      padding-right: 15px;
      background-color: #ffffff;
      z-index: 1; }
    .brk-color-filter__title::before {
      height: 10px;
      width: 100%;
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      z-index: -1;
      background-image: url(../../img/dotted-bg.png);
      background-repeat: repeat;
      background-position-x: -1px; }
  .brk-color-filter__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap; }
  .brk-color-filter__item {
    margin: 5px;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 4px;
    position: relative;
    -webkit-transition: .3s ease box-shadow;
    transition: .3s ease box-shadow; }
    .brk-color-filter__item:hover {
      box-shadow: 0 0 8px -1px rgba(0, 0, 0, 0.4); }
    .brk-color-filter__item-bg {
      position: absolute;
      left: 2px;
      top: 2px;
      width: -webkit-calc(100% - 4px);
      width: calc(100% - 4px);
      height: -webkit-calc(100% - 4px);
      height: calc(100% - 4px);
      border-radius: 4px; }
    .brk-color-filter__item-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      color: #fff;
      opacity: 0;
      font-size: 14px; }
    .brk-color-filter__item.active .brk-color-filter__item-icon {
      opacity: 1; }

.brk-sc-long-label {
  padding: 7px 15px 8px 17px;
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  height: 28px;
  white-space: nowrap;
  margin-left: 10px;
  border-radius: 15px;
  margin-top: 7px;
  box-shadow: 0 5px 16px rgba(130, 180, 64, 0.5);
  background-color: #81bb35; }

.brk-sc-long-label i {
  color: #fff;
  font-size: 14px;
  margin-right: 4px; }

.brk-sc-item-page-header {
  position: relative; }

@media screen and (max-width: 992px) {
  .brk-sc-item-page-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column; } }

.brk-sc-item-page-header__carousel {
  width: 100%; }

@media screen and (max-width: 992px) {
  .brk-sc-item-page-header__carousel {
    position: relative; } }

.brk-sc-item-page-header__carousel-labels {
  position: absolute;
  right: -22px;
  top: 28px;
  z-index: 2; }

.brk-sc-item-page-header__carousel-labels .brk-sc-card-labels {
  position: relative; }

.brk-sc-item-page-header__carousel-labels .brk-sc-card-labels:nth-child(2) {
  top: -17px; }

@media screen and (max-width: 768px) {
  .brk-sc-item-page-header__carousel-labels {
    right: 0; } }

.brk-sc-item-page-header__carousel-items {
  z-index: 1; }

.brk-sc-item-page-header__info {
  position: relative;
  padding-bottom: 35px; }
  @media (max-width: 1229px) {
    .brk-sc-item-page-header__info {
      padding-bottom: 70px;
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
              order: -1; } }
  @media (max-width: 991px) {
    .brk-sc-item-page-header__info {
      padding-top: 40px;
      padding-bottom: 0; } }

.brk-sc-item-page-header__info-main {
  padding-left: 70px;
  min-height: 373px; }
  @media (max-width: 1229px) {
    .brk-sc-item-page-header__info-main {
      padding-left: 25px; } }
  @media (max-width: 991px) {
    .brk-sc-item-page-header__info-main {
      padding-left: 0;
      margin-top: 70px;
      min-height: 340px; } }
  @media (max-width: 767px) {
    .brk-sc-item-page-header__info-main {
      min-height: 0; } }

.brk-sc-item-page-header__info-secondary {
  position: relative;
  padding-left: 70px; }
  @media (max-width: 1229px) {
    .brk-sc-item-page-header__info-secondary {
      padding-left: 25px; } }
  @media (max-width: 991px) {
    .brk-sc-item-page-header__info-secondary {
      top: 0;
      padding-left: 0; } }
  @media (max-width: 575px) {
    .brk-sc-item-page-header__info-secondary {
      padding-top: 35px;
      margin-top: 15px;
      background-color: #fff; }
      .brk-sc-item-page-header__info-secondary:before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        right: -15px;
        left: -15px;
        bottom: 0;
        background-color: #fff; } }

.brk-sc-item-page-header__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center; }

.brk-sc-item-page-header__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(40deg, rgba(var(--brand-primary-rgb), 0.92) 15%, rgba(var(--secondary-rgb), 0.92) 75%); }

.brk-sc-item-page-header__svg {
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  display: block;
  background-color: #fff;
  height: 20%; }
  @media (max-width: 1700px) {
    .brk-sc-item-page-header__svg {
      height: 21%; } }
  @media (max-width: 1400px) {
    .brk-sc-item-page-header__svg {
      height: 23%; } }
  @media (max-width: 1229px) {
    .brk-sc-item-page-header__svg {
      height: 240px; } }
  @media (max-width: 991px) {
    .brk-sc-item-page-header__svg {
      height: 140px; } }
  @media (max-width: 767px) {
    .brk-sc-item-page-header__svg {
      height: 230px; } }
  @media (max-width: 575px) {
    .brk-sc-item-page-header__svg {
      display: none; } }
  .brk-sc-item-page-header__svg svg {
    position: absolute;
    bottom: -webkit-calc(100% - 2px);
    bottom: calc(100% - 2px);
    right: -1px;
    left: -1px; }
    @media (max-width: 767px) {
      .brk-sc-item-page-header__svg svg {
        display: none; } }

.brk-sc-item-page-header__tags .brk-sc-tags__item {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: .3s ease color;
  transition: .3s ease color; }

.brk-sc-item-page-header__tags .brk-sc-tags__item:after {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%; }

.brk-sc-item-page-header__tags .brk-sc-tags__item:hover {
  color: white; }

.brk-sc-item-page-header__price-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  min-height: 87px; }

.brk-sc-item-page-header__old-price {
  text-decoration: line-through; }

.brk-sc-item-page-header__color-filter .brk-color-filter__title {
  text-align: left !important;
  margin-right: 10px;
  margin-bottom: 19px; }

.brk-sc-item-page-header__color-filter:before {
  display: none; }

.brk-sc-item-page-header__color-filter .brk-color-filter__title-text {
  padding-left: 0;
  padding-right: 0;
  background-color: transparent; }

.brk-sc-item-page-header__color-filter .brk-color-filter__item {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1); }

.brk-sc-item-page-header__color-filter .brk-color-filter__item:first-child {
  margin-left: 0; }

.brk-sc-item-page-header__color-filter .brk-color-filter__item-bg {
  width: 16px;
  height: 16px;
  border-radius: 0;
  left: 3px;
  top: 3px; }

.brk-sc-item-page-header__rating .brk-rating__layer,
.brk-sc-item-page-header__rating .brk-rating__imposition {
  color: #fff; }

.brk-sc-item-page-header__rating .brk-rating__layer {
  opacity: .4; }

.brk-sc-item-page-header__btn {
  margin: 0;
  padding: 15px 44px;
  box-shadow: none; }

.brk-sc-item-page-header__btn .border-btn {
  border: 0; }

@media (min-width: 1230px) {
  .brk-sc-item-page-header__btn-container {
    margin-bottom: 68px; } }

.brk-sc-item-page-header .arrows-modern .slick-arrow {
  background-color: transparent; }

.brk-sc-item-page-header .slider-thumbnailed {
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); }

.brk-sc-item-page-header .slider-thumbnailed-nav {
  max-width: 340px;
  border-radius: 10px;
  box-shadow: 0px -10px 15px 0px rgba(0, 0, 0, 0.06); }

.brk-sc-item-page-header .slider-thumbnailed-nav .brk-slid__overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.brk-sc-item-page-header .slider-thumbnailed-nav .brk-slid__img, .brk-sc-item-page-header .slider-thumbnailed-nav .brk-slid__overlay {
  border-radius: 5px; }

.brk-sc-item-page-header .brk-slid__img {
  -o-object-position: center top;
  object-position: center top; }

.brk-sc-item-page-section-1 {
  overflow: hidden; }

.brk-sc-item-page-section-1__info {
  padding-bottom: 970px;
  padding-top: 80px; }

@media screen and (max-width: 991px) {
  .brk-sc-item-page-section-1__info {
    padding-top: 0; } }

.brk-sc-item-page-section-1__cfa {
  border-radius: 0;
  box-shadow: none; }

.brk-sc-item-page-section-1__img-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  position: relative; }

@media screen and (max-width: 1230px) {
  .brk-sc-item-page-section-1__img-container {
    width: 750px;
    opacity: 0.1; } }

.brk-sc-item-page-section-1__img {
  position: absolute;
  left: 64px;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left top;
  object-position: left top; }

@media screen and (max-width: 1230px) {
  .brk-sc-item-page-section-1__img {
    left: 0;
    -o-object-position: center top;
    object-position: center top; } }

.brk-sc-item-page-section-2 {
  position: relative;
  top: -1090px;
  margin-bottom: -1067px;
  overflow: hidden;
  z-index: 1;
  padding-top: 96px; }

.brk-sc-item-page-section-2__info {
  padding-bottom: 320px; }

@media screen and (min-width: 992px) {
  .brk-sc-item-page-section-2__info {
    padding-top: 570px;
    padding-bottom: 463px; } }

.brk-sc-item-page-section-2__img-container {
  position: relative;
  height: 100%; }

@media screen and (max-width: 1230px) {
  .brk-sc-item-page-section-2__img-container {
    width: 750px;
    left: -550px;
    opacity: 0.1; } }

.brk-sc-item-page-section-2__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center left;
  object-position: center left; }

@media screen and (max-width: 1230px) {
  .brk-sc-item-page-section-2__img {
    -o-object-position: center top;
    object-position: center top; } }

.brk-sc-item-page-section-2__svg-container {
  position: absolute;
  bottom: -7px;
  left: 0; }

.brk-sc-item-page-section-2__svg-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1; }

.brk-sc-item-page-section-2__svg-bg svg {
  stroke: #f2fcff; }

.brk-sc-item-page-section-2__balls .brk-radial-ball {
  border-radius: 100%;
  z-index: 5;
  position: absolute;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: ballTransform 5s linear  infinite;
  animation: ballTransform 5s linear  infinite; }

@media screen and (max-width: 1230px) {
  .brk-sc-item-page-section-2__balls .brk-radial-ball {
    display: none; } }

.brk-sc-item-page-section-2__balls .brk-radial-ball:nth-child(1) {
  width: 202px;
  height: 202px;
  background-color: #000000;
  left: 238px;
  top: 332px;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  background-image: radial-gradient(circle 152px at 29.68% 18.59%, var(--brk-base-5) 0%, var(--brk-base-2) 100%); }

.brk-sc-item-page-section-2__balls .brk-radial-ball:nth-child(2) {
  width: 170px;
  height: 170px;
  background-color: #000000;
  top: 706px;
  right: 119px;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  background-image: radial-gradient(circle 128px at 22.5% 35.93%, var(--brk-base-2) 0%, var(--brand-primary) 100%); }

.brk-sc-item-page-section-2__balls .brk-radial-ball:nth-child(3) {
  width: 134px;
  height: 134px;
  background-color: #000000;
  bottom: 357px;
  left: -67px;
  background-image: radial-gradient(circle 101px at 28.38% 38.86%, var(--brand-primary) 0%, var(--brk-base-8) 100%); }

@-webkit-keyframes ballTransform {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  75% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes ballTransform {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  75% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.mt--140 {
  margin-top: -140px; }

.brk-sc-item-page-tabs {
  z-index: 1;
  margin-top: -63px; }

.brk-sc-item-page-tabs .brk-tabs-nav {
  z-index: 1; }

@media screen and (max-width: 1230px) {
  .brk-sc-item-page-tabs .brk-tabs-nav {
    min-width: 200px !important; } }

.brk-sc-item-page-tabs__title {
  position: relative;
  padding-right: 32px;
  padding-left: 25px;
  margin-bottom: 39px; }

.brk-sc-item-page-tabs__title:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 3px;
  height: 42px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--brk-base-2)), to(var(--brk-base-5)));
  background-image: linear-gradient(to top, var(--brk-base-2) 0%, var(--brk-base-5) 100%); }

@media screen and (max-width: 1230px) {
  .brk-sc-item-page-tabs__title {
    padding-left: 0; } }

.brk-sc-item-page-tabs .brk-tab-item {
  margin-top: -68px;
  padding-left: 17px; }

@media screen and (max-width: 1230px) {
  .brk-sc-item-page-tabs .brk-tab-item {
    margin-top: 0; } }

@media screen and (max-width: 767px) {
  .brk-sc-item-page-tabs .brk-tab-item {
    padding-left: 0; } }

.brk-sc-item-page-tabs .brk-tab.active, .brk-sc-item-page-tabs .brk-tab:hover {
  color: #000000 !important; }

.brk-sc-item-page-body__cfa {
  margin-bottom: 244px; }

.brk-sc-item-page-body__bg {
  position: relative;
  box-shadow: inset 0 5px 26px rgba(0, 0, 0, 0.03);
  background-color: #f9f9f9; }

.brk-sc-item-page-body__bg-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center; }

.brk-sc-item-page-body .brk-sc-bonus {
  top: -109px;
  margin-bottom: -62px; }
  @media (max-width: 767px) {
    .brk-sc-item-page-body .brk-sc-bonus {
      top: 0;
      margin-bottom: 0; } }

.brk-sc-item-page-body .brk-tabs_rounded {
  position: relative;
  z-index: 1;
  margin-top: -58px; }

.app-img-caption {
  margin-bottom: -100px; }
