<!DOCTYPE html>
<html lang="en" data-brk-skin="brk-pink-purple.css">

<head>
	<title>Forbidden Error - Berserk HTML</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="apple-touch-icon-precomposed" href="favicon.ico">
	<meta name="theme-color" content="#2775FF">
	<meta name="keywords" content="themeforest, theme, html, template">
	<meta name="description" content="themeforest, theme, html, template">
	<link rel="stylesheet" id="brk-direction-bootstrap" href="css/assets/bootstrap.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" id="brk-skin-color" href="css/skins/brk-pink-purple.css">
	<link id="brk-base-color" rel="stylesheet" href="css/skins/brk-base-color.css">
	<link rel="stylesheet" id="brk-direction-offsets" href="css/assets/offsets.css">
	<link id="brk-css-min" rel="stylesheet" href="css/assets/styles.min.css">
</head>

<body>
	<div class="brk-header-mobile">
		<div class="brk-header-mobile__open brk-header-mobile__open_white">
			<span></span>
		</div>
		<div class="brk-header-mobile__logo">
			<a href="#">
				<img class="brk-header-mobile__logo-1 lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/logo-2.png" alt="alt">
				<img class="brk-header-mobile__logo-2 lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/logo-dark-2.png" alt="alt">
			</a>
		</div>
	</div>
	<div class="main-wrapper">
		<main class="main-container">
			<section class="brk-backgrounds full-screen d-flex flex-column align-items-center justify-content-center" data-brk-library="component__backgrounds_css,component__backgrounds_js">
				<div class="brk-backgrounds__before brk-bg-gradient--260deg-96"></div>
				<canvas id="brk-metaballs" class="brk-backgrounds__canvas"></canvas>
				<div class="brk-backgrounds__content">
					<div class="container">
						<div class="maxw-770 z-index-1 pt-80 pb-80">
							<h2 class="font__family-montserrat font__weight-bold text-white brk-error-page-title">403</h2>
							<hr class="brk-dashed-border-transparent mt-25 mb-50">
							<h3 class="font__family-montserrat font__size-48 line__height-52 text-white text-center mb-10">
								<span class="font__weight-bold">Oops! </span>
								<span class="font__weight-light">Forbidden Error.</span>
							</h3>
							<h4 class="font__family-montserrat font__size-21 line__height-24 font__weight-normal text-white opacity-60 text-center mb-50">
								It looks like you don&apos;t have access to view this page.
							</h4>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
	<footer class="brk-footer position-relative" data-brk-library="component__footer">
		<div class="brk-footer__wrapper brk-footer__wrapper_shadow">
			<div class="pt-60 brk-light-gradient-90deg-94 border-bottom-3 brk-border-color-light brk-shadow-light">
				<div class="container">
					<div class="brk-dashed-logo mb-20">
						<span class="brk-dashed-logo__line"></span>
						<a class="brk-dashed-logo__link ml-25 mr-25">
							<img src="img/logo.svg" height="31" width="170" alt="logo">
						</a>
						<span class="brk-dashed-logo__line"></span>
					</div>
					<div class="brk-social-links brk-white-font-color brk-social-links_opacity d-flex justify-content-center mb-40 font__size-12" data-brk-library="component__social_links">																		
						<a href="https://www.facebook.com/specso/" class="brk-social-links__item">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a href="https://www.instagram.com/specso.in/" class="brk-social-links__item">
							<i class="fab fa-instagram"></i>
						</a>
						<a href="https://www.instagram.com/specso.in/" class="brk-social-links__item">
							<i class="fab fa-linkedin"></i>
						</a>
						<a href="https://twitter.com/specso1" class="brk-social-links__item">
							<i class="fab fa-twitter"></i>
						</a>
						<a href="https://www.youtube.com/channel/UCYswuXtd2yziNnAOjx_iXLw" class="brk-social-links__item">
							<i class="fab fa-youtube"></i>
						</a>
					</div>
					<div class="brk-footer__rights pt-15 pb-20 text-center">
						<p class="font__family-open-sans font__size-14 font__weight-normal line__height-14">&#xA9; 2020 Specso All rights reserved</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<a href="#top" id="toTop"></a>
	<script defer="defer" src="js/scripts.min.js"></script>
</body>

</html>