{% extends "common.html" %}
{% block title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Specso | Best IT Software Development Company in India</title>
    {% endblock %}
    {% load static %}
    {% block content %}  
    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->


    <!-- about area start -->
    <div class="about-provide-area pd-top-120 bg-none">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-6">
                    <div class="img-with-video">
                        <div class="img-wrap">
                            <img src="assets/img/we-provide/1.png" alt="video">
                            <div class="hover">
                                <a href="https://www.youtube.com/watch?v=c7XEhXZ_rsk" class="video-play-btn mfp-iframe"><img src="assets/img/we-provide/3.svg" alt="video"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 desktop-center-item">
                    <div>
                        <div class="section-title style-two">
                            <h2 class="title">About<span> Specso Technologies</span></h2>
                            <p>Riyaqas One of the best Software Development company. Riyaqas is at the forefront as the most innovative web development company. Our cost efficient and structured teamwork justifies our position. Our clients count on our offshore business solutions on a regular basis from concept.</p>
                            <p>Design to development, testing & implementation, our team is here to support and guide you every step of the way. Riyaqas One of the best Software Development company.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about area End -->

    <!-- sbst service area start -->
    <div class="sbst-service-area pd-top-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-10">
                    <div class="section-title text-center">
                        <h2 class="title">What We <span>Do?</span></h2>
                        <p>Experion taps into the power of digital to develop custom software applications and products for industry domains.</p>
                    </div>
                </div>
            </div>
            <div class="row custom-gutters-20 justify-content-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-service-2 text-center">
                        <div class="thumb">
                            <img src="assets/img/startup/service/3.svg" alt="service">
                        </div>
                        <h6>Web Development</h6>
                        <p>Web Development is the base of the company , specso is essentially all about developing websites to provide every other buisness a platform to showcase their ideas and products.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-service-2 text-center">
                        <div class="thumb">
                            <img src="assets/img/startup/service/4.svg" alt="service">
                        </div>
                        <h6>Apps Development</h6>
                        <p>We Develop light weight easy to use Mobile Applications that supports a wide varitey of end-users (online as well as offline) using java and js stack. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-service-2 text-center">
                        <div class="thumb">
                            <img src="assets/img/startup/service/2.svg" alt="service">
                        </div>
                        <h6>Software Development</h6>
                        <p>Software Development is yet another core service of our company , we develop a scalable and user friendly solution that helps in making your life more easier and comfortable.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-service-2 text-center">
                        <div class="thumb">
                            <img src="assets/img/startup/service/1.svg" alt="service">
                        </div>
                        <h6>SEO, SMM</h6>
                        <p>We provide a range of options for the Search Engine Optimization part including SERP (Search Engine Results Page ) Rankings .</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sbst service area end -->

    <!-- team area Start -->
    <div class="team-area-wrpper about-team-area-wrpper pd-top-112 mg-top-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-10">
                    <div class="section-title text-center">
                        <h2 class="title">Riyaqas Creative <span>Team</span></h2>
                        <p>Riyaqas One of the best Software Development company. Riyaqas is at the forefront as the most innovative web development company. Our cost efficient and structured teamwork.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-area text-center">
            <div class="container">
                <div class="row custom-gutters-20">
                    <div class="col-lg-3 col-sm-6">
                        
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-team">
                            <div class="thumb">
                                <img src="assets/img/startup/team/ayush_tyagi.jpg" alt="team">
                            </div>
                            <h6><a href="#">Ayush Tyagi</a></h6>
                            <span>Founder</span>
                            <p>Riyaqas One of the best Software Development company.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-team">
                            <div class="thumb">
                                <img src="assets/img/startup/team/shivani_dhyani.jpg" alt="team">
                            </div>
                            <h6><a href="#">Shivani Dhyani</a></h6>
                            <span>Co-Founder</span>
                            <p>Riyaqas One of the best Software Development company.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- team area End -->

    <!-- client area start -->
    <div class="client-area pd-top-110">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-9">
                    <div class="section-title style-two text-center">
                        <h2 class="title">What Our <span>Client Say?</span></h2>
                        <p>Our support team will get assistance from AI-powered suggestions, making it quicker than ever to handle support requests. Our support team will get assistance from AI-powered suggestions.</p>
                    </div>
                </div>
            </div>
            <div class="client-slider">
                <div class="client-slider-item">
                    <div class="media">
                        <div class="media-left media-left-one">
                            <img src="assets/img/client/4.png" alt="client">
                        </div>
                        <div class="media-body">
                            <h6>Ashraf Ali</h6>
                            <p>CEO of Kowcub</p>
                        </div>
                    </div>
                    <p class="client-content">With Accountiee, you'll never find errors in your sales record even if thy are skyrocketing. And you'll be able to see all you transactions (UPI,Cash or credit) all at one place, Specso has impressed me by doing such a task in such small period of time .</p>
                </div>
                <div class="client-slider-item">
                    <div class="media">
                        <div class="media-left media-left-two">
                            <img src="assets/img/client/5.png" alt="client">
                        </div>
                        <div class="media-body">
                            <h6>Dr. Riju Kumar,</h6>
                            <p>Owner, Sukhayu Hospital</p>
                        </div>
                    </div>
                    <p class="client-content">Specso understand the requirements with great focus on detailed services , unlimited revisions and client satisfaction, what more can you ask for.</p>
                </div>
                <div class="client-slider-item">
                    <div class="media">
                        <div class="media-left media-left-three">
                            <img src="assets/img/client/Mr.Ashok.jpg" alt="client">
                        </div>
                        <div class="media-body">
                            <h6>Ashok Kumar</h6>
                            <p>CEO , Sunlight Energy</p>
                        </div>
                    </div>
                    <p class="client-content">Best thing about people at Specso is that they help you find the best solution in affordable price.</p>
                </div>
                <div class="client-slider-item">
                    <div class="media">
                        <div class="media-left media-left-three">
                            <img src="assets/img/client/6.png" alt="client">
                        </div>
                        <div class="media-body">
                            <h6>Cpt. Shubham Tyagi,</h6>
                            <p>Indian Army</p>
                        </div>
                    </div>
                    <p class="client-content">People at Specso create an atmosphere of unique ideas and edge cases that tests the product you want to the rarest conditions possible making it a sustainable long term solution </p>
                </div>
            </div>
        </div>
    </div>
    <!-- client area End -->
    {% endblock %}