{% extends 'templating.html' %}
{% load static %}
	{% block metatag %}
	<title>Accountiee Billing Software | Software Development Company</title>	
	{% endblock %}
	{% block content %}
	<div class="main-wrapper">
		<main class="main-container">
			<div class="breadcrumbs__section breadcrumbs__section-simple brk-bg-center-cover pt-130 pb-60 lazyload" data-bg="{% static 'img/1920x240_2.jpg' %}" data-brk-library="component__breadcrumbs_css">
				<span class="brk-abs-bg-overlay brk-base-gradient-32"></span>
				<div class="breadcrumbs__wrapper">
					<div class="container">
						<div class="d-flex flex-wrap justify-content-center justify-content-lg-between align-items-center">
							<h2 class="brk-white-font-color font__family-montserrat font__weight-thin font__size-40 line__height-46 mb-20 mb-lg-0">Accountiee </h2>
							<ul class="breadcrumb brk-white-font-color font__family-montserrat font__size-15 line__height-21 d-flex align-items-center">
								<li>
									<a href="#">Home</a>
									<i class="fal fa-chevron-right icon"></i>
								</li>
								<li>Product
									<i class="fal fa-chevron-right icon"></i>
								</li>
								<li class="active">About</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<section class="pt-80 pb-90">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-7">
							<h2 class="font__family-montserrat font__size-lg-64 font__size-md-48 font__size-40 line-height-1-125">
								<span class="font__weight-bold">Accountiee</span><br>
								<span class="font__weight-light">Billing Software</span>
							</h2>
							<div class="font__size-16 line__height-28 brk-dark-blur-font-color mt-40 mb-30">Vestibulum fringilla pede sit amet
								augue. In turpis. Pellentesque posuere. <br>Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc
						        augue blandit <br>nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit libero, sodales nec,<br> volutpat
						        a, suscipit non, turpis. Nullam sagittis. Suspendisse pulvinar.
						    </div>
						</div>
						<div class="col-lg-5">
							<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% static 'images/product/accountiee_online_billing_software - Square.jpg' %}" alt="alt" class="lazyload position-md-relative w-100" style="left: 20px; bottom: 30px;">
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="bg__style overlay__gradient pt-100 pb-100" style="background-image: url({% static 'img/bg-full_2.jpg' %});">
					<span class="overlay_after brk-base-bg-gradient-40-no-opacity"></span>
					<div class="container all-light">
						<div class="row no-gutters align-items-center">
							<div class="col-xl-6 order-xl-1">
								<div class="mobile-case-3" style="background-image: url({% static 'img/app-case-3.png' %})">
									<div class="mobile-bg" style="background: url({% static 'img/app-inside-3.jpg' %}) center center no-repeat; background-size: cover;"></div>
								</div>
							</div>
							<div class="col-md-4 col-xl-3">
								<div class="text-xl-left text-center z-index-high mt-50 wow fadeInLeft">
									<div class="inline-wrap inline-wrap-second align-items-start">
										<span class="circle-number mb-20 mr-xl-30 ml-auto mr-auto">01</span>
										<div>
											<h4 class="font__family-montserrat font__weight-light font__size-24 text-uppercase">GST Billing</h4>
											<p class="font__family-open-sans font__size-16 line__height-26 btk-white-font-color opacity-60 mt-20">Lorem ipsum dolor sit
												amet, consectetuer</p>
										</div>
									</div>
								</div>
								<div class="text-xl-left text-center z-index-high mt-50 wow fadeInLeft">
									<div class="inline-wrap inline-wrap-second align-items-start">
										<span class="circle-number mb-20 mr-xl-30 ml-auto mr-auto">02</span>
										<div>
											<h4 class="font__family-montserrat font__weight-light font__size-24 text-uppercase"></h4>
											<p class="font__family-open-sans font__size-16 line__height-26 btk-white-font-color opacity-60 mt-20">Lorem ipsum dolor sit
												amet, consectetuer</p>
										</div>
									</div>
								</div>
								<div class="text-xl-left text-center z-index-high mt-50 wow fadeInLeft">
									<div class="inline-wrap inline-wrap-second align-items-start">
										<span class="circle-number mb-20 mr-xl-30 ml-auto mr-auto">02</span>
										<div>
											<h4 class="font__family-montserrat font__weight-light font__size-24 text-uppercase">Sales Analytics</h4>
											<p class="font__family-open-sans font__size-16 line__height-26 btk-white-font-color opacity-60 mt-20">Lorem ipsum dolor sit
												amet, consectetuer</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xl-3 order-xl-2">
								<div class="text-xl-right text-center z-index-high mt-50 wow fadeInRight">
									<div class="inline-wrap inline-wrap-second align-items-start">
										<span class="circle-number order-lg-1 mb-20 ml-xl-30 ml-auto mr-auto">03</span>
										<div>
											<h4 class="font__family-montserrat font__weight-light font__size-24 text-uppercase">Inventory Management</h4>
											<p class="font__family-open-sans font__size-16 line__height-26 btk-white-font-color opacity-60 mt-20">Lorem ipsum dolor sit
												amet, consectetuer</p>
										</div>
									</div>
								</div>
								<div class="text-xl-right text-center z-index-high mt-50 wow fadeInRight">
									<div class="inline-wrap inline-wrap-second align-items-start">
										<span class="circle-number order-lg-1 mb-20 ml-xl-30 ml-auto mr-auto">03</span>
										<div>
											<h4 class="font__family-montserrat font__weight-light font__size-24 text-uppercase">Stock Management</h4>
											<p class="font__family-open-sans font__size-16 line__height-26 btk-white-font-color opacity-60 mt-20">Lorem ipsum dolor sit
												amet, consectetuer</p>
										</div>
									</div>
								</div>
								<div class="text-xl-right text-center z-index-high mt-50 wow fadeInRight">
									<div class="inline-wrap inline-wrap-second align-items-start">
										<span class="circle-number order-lg-1 mb-20 ml-xl-30 ml-auto mr-auto">04</span>
										<div>
											<h4 class="font__family-montserrat font__weight-light font__size-24 text-uppercase">Enjoy App</h4>
											<p class="font__family-open-sans font__size-16 line__height-26 btk-white-font-color opacity-60 mt-20">Lorem ipsum dolor sit
												amet, consectetuer</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="container mb-140">
					<div class="row">
						<div class="col-lg-4">
							<div class="brk-pricing-plan" data-brk-library="component__pricing_table,component__button">
								<div class="brk-pricing-plan__bg lazyload" data-bg="img/300x460_1.jpg">
									<div class="brk-layer brk-bg-primary position-absolute opacity-90"></div>
								</div>
								<div class="brk-pricing-plan__content text-center">
									<div class="brk-pricing-plan__title font__family-montserrat font__weight-semibold letter-spacing-200">
										Basic
									</div>
									<div class="brk-pricing-plan__price font__family-montserrat font__weight-semibold">
										<span class="sign">$</span>
										<span class="price">39</span>
										<span class="period">/ mo</span>
									</div>
									<div class="brk-pricing-plan__description font__family-playfair font__style-italic letter-spacing-20">
										Perfect for businesses <br>of all sizes.</div>
									<div class="brk-pricing-plan__included">
										<ul>
											<li><i class="fal fa-check"></i>Proin gravida nibhconseq</li>
											<li><i class="fal fa-check"></i>Enean sollicitud</li>
											<li><i class="fal fa-check"></i>Lorem quis bibendum</li>
										</ul>
									</div>
									<button class="brk-pricing-plan__btn btn font__family-montserrat letter-spacing-100">
										<span>Buy this plan</span>
									</button>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="brk-pricing-plan" data-brk-library="component__pricing_table,component__button">
								<div class="brk-pricing-plan__bg lazyload" data-bg="img/300x460_2.jpg">
									<div class="brk-layer brk-bg-primary position-absolute opacity-90"></div>
								</div>
								<div class="brk-pricing-plan__content text-center">
									<div class="brk-pricing-plan__title font__family-montserrat font__weight-semibold letter-spacing-200">Popular</div>
									<div class="brk-pricing-plan__price font__family-montserrat font__weight-semibold">
										<span class="sign">$</span>
										<span class="price">59</span>
										<span class="period">/ mo</span>
									</div>
									<div class="brk-pricing-plan__description font__family-playfair font__style-italic letter-spacing-20">Perfect for businesses <br>of all sizes.</div>
										<div class="brk-pricing-plan__included">
											<ul>
												<li><i class="fal fa-check"></i>Proin gravida nibhconseq</li>
												<li><i class="fal fa-check"></i>Enean sollicitud</li>
												<li><i class="fal fa-check"></i>Lorem quis bibendum</li>
												<li><i class="fal fa-check"></i>Aliquam laoreet sodales</li>
												<li><i class="fal fa-check"></i>Enean sollicitud</li>
											</ul>
										</div>
										<button class="brk-pricing-plan__btn btn font__family-montserrat letter-spacing-100">
											<span>Buy this plan</span>
										</button>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="brk-pricing-plan" data-brk-library="component__pricing_table,component__button">
									<div class="brk-pricing-plan__bg lazyload" data-bg="img/300x460_3.jpg">
										<div class="brk-layer brk-bg-primary position-absolute opacity-90"></div>
									</div>
									<div class="brk-pricing-plan__content text-center">
										<div class="brk-pricing-plan__title font__family-montserrat font__weight-semibold letter-spacing-200">Classic</div>
										<div class="brk-pricing-plan__price font__family-montserrat font__weight-semibold">
											<span class="sign">$</span>
											<span class="price">79</span>
											<span class="period">/ mo</span>
										</div>
										<div class="brk-pricing-plan__description font__family-playfair font__style-italic letter-spacing-20">Perfect for businesses <br>of all sizes.</div>
										<div class="brk-pricing-plan__included">
											<ul>
												<li><i class="fal fa-check"></i>Proin gravida nibhconseq</li>
												<li><i class="fal fa-check"></i>Enean sollicitud</li>
												<li><i class="fal fa-check"></i>Lorem quis bibendum</li>
												<li><i class="fal fa-check"></i>Aliquam laoreet sodales</li>
												<li><i class="fal fa-check"></i>Enean sollicitud</li>
												<li><i class="fal fa-check"></i>Proin gravida nibhconseq</li>
											</ul>
										</div>
										<button class="brk-pricing-plan__btn btn font__family-montserrat letter-spacing-100">
											<span>Buy this plan</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</section>
		</main>
	</div>
	{% endblock %}
	