    {% load static %} 
    {% extends "common.html" %}
    {% block title %}
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Riyaqas – Saas and Startup HTML Template</title>
    
    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->
    {% endblock %}   
    {% block content %} 
<!-- search Popup -->
<div class="body-overlay" id="body-overlay"></div>
<div class="search-popup" id="search-popup">
    <form action="https://codingeek.net/html/riyaqas/index.html" class="search-form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search.....">
        </div>
        <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
    </form>
</div>
<!-- //. search Popup -->
<!-- breadcrumb area start -->
<div class="breadcrumb-area" style="background-image:url(assets/img/page-title-bg.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner">
                    <h1 class="page-title">Blog</h1>
                    <ul class="page-list">
                        <li><a href="index-2.html">Home</a></li>
                        <li>Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area End -->

<div class="blog-page-area pd-top-120">
    <div class="container">
        <div class="row custom-gutters-60">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-blog-content style-two">
                            <div class="thumb">
                                <img src="assets/img/blog/blog-grid/1.png" alt="blog">
                            </div>
                            <div class="single-blog-details">
                                <ul class="post-meta">
                                    <li class="admin">Admin</li>
                                    <li>August 29, 2019 /</li>
                                    <li><i class="ti-comments"></i>10 Comments</li>
                                </ul>
                                <h5><a href="blog-details.html">Doloremque velit sapien labore eius</a></h5>
                                <p>Why I say old chap that is, spiffing jolly good a load of old tosh spend a penny tosser arse over tit, excuse my French owt to do with me up the kyver matie boy.</p>
                                <a href="#">Read More <span><i class="la la-long-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-blog-content style-two">
                            <div class="thumb">
                                <img src="assets/img/blog/blog-grid/2.png" alt="blog">
                            </div>
                            <div class="single-blog-details">
                                <ul class="post-meta">
                                    <li class="admin">Admin</li>
                                    <li>August 29, 2019 /</li>
                                    <li><i class="ti-comments"></i>10 Comments</li>
                                </ul>
                                <h5><a href="blog-details.html">Better App promotes sales &amp; profits</a></h5>
                                <p>Why I say old chap that is, spiffing jolly good a load of old tosh spend a penny tosser arse over tit, excuse my French owt to do with me up the kyver matie boy.</p>
                                <a href="#">Read More <span><i class="la la-long-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-blog-content style-two">
                            <div class="thumb">
                                <img src="assets/img/blog/blog-grid/5.png" alt="blog">
                            </div>
                            <div class="single-blog-details">
                                <ul class="post-meta">
                                    <li class="admin">Admin</li>
                                    <li>August 29, 2019 /</li>
                                    <li><i class="ti-comments"></i>10 Comments</li>
                                </ul>
                                <h5><a href="blog-details.html">Corporate Workflow make a diffrence</a></h5>
                                <p>Why I say old chap that is, spiffing jolly good a load of old tosh spend a penny tosser arse over tit, excuse my French owt to do with me up the kyver matie boy.</p>
                                <a href="#">Read More <span><i class="la la-long-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-blog-content style-two">
                            <div class="thumb">
                                <img src="assets/img/blog/blog-grid/4.png" alt="blog">
                            </div>
                            <div class="single-blog-details">
                                <ul class="post-meta">
                                    <li class="admin">Admin</li>
                                    <li>August 29, 2019 /</li>
                                    <li><i class="ti-comments"></i>10 Comments</li>
                                </ul>
                                <h5><a href="blog-details.html">The Bloke cracking goal the full.</a></h5>
                                <p>Why I say old chap that is, spiffing jolly good a load of old tosh spend a penny tosser arse over tit, excuse my French owt to do with me up the kyver matie boy.</p>
                                <a href="#">Read More <span><i class="la la-long-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-blog-content style-two">
                            <div class="thumb">
                                <img src="assets/img/blog/blog-grid/3.png" alt="blog">
                            </div>
                            <div class="single-blog-details">
                                <ul class="post-meta">
                                    <li class="admin">Admin</li>
                                    <li>August 29, 2019 /</li>
                                    <li><i class="ti-comments"></i>10 Comments</li>
                                </ul>
                                <h5><a href="blog-details.html">Turning all Ideas Into Real Success</a></h5>
                                <p>Why I say old chap that is, spiffing jolly good a load of old tosh spend a penny tosser arse over tit, excuse my French owt to do with me up the kyver matie boy.</p>
                                <a href="#">Read More <span><i class="la la-long-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-blog-content style-two">
                            <div class="thumb">
                                <img src="assets/img/blog/blog-grid/1.png" alt="blog">
                            </div>
                            <div class="single-blog-details">
                                <ul class="post-meta">
                                    <li class="admin">Admin</li>
                                    <li>August 29, 2019 /</li>
                                    <li><i class="ti-comments"></i>10 Comments</li>
                                </ul>
                                <h5><a href="blog-details.html">Doloremque velit sapien labore eius</a></h5>
                                <p>Why I say old chap that is, spiffing jolly good a load of old tosh spend a penny tosser arse over tit, excuse my French owt to do with me up the kyver matie boy.</p>
                                <a href="#">Read More <span><i class="la la-long-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-blog-content style-two">
                            <div class="thumb">
                                <img src="assets/img/blog/blog-grid/2.png" alt="blog">
                            </div>
                            <div class="single-blog-details">
                                <ul class="post-meta">
                                    <li class="admin">Admin</li>
                                    <li>August 29, 2019 /</li>
                                    <li><i class="ti-comments"></i>10 Comments</li>
                                </ul>
                                <h5><a href="blog-details.html">Better App promotes sales &amp; profits</a></h5>
                                <p>Why I say old chap that is, spiffing jolly good a load of old tosh spend a penny tosser arse over tit, excuse my French owt to do with me up the kyver matie boy.</p>
                                <a href="#">Read More <span><i class="la la-long-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-blog-content style-two">
                            <div class="thumb">
                                <img src="assets/img/blog/blog-grid/5.png" alt="blog">
                            </div>
                            <div class="single-blog-details">
                                <ul class="post-meta">
                                    <li class="admin">Admin</li>
                                    <li>August 29, 2019 /</li>
                                    <li><i class="ti-comments"></i>10 Comments</li>
                                </ul>
                                <h5><a href="blog-details.html">Corporate Workflow make a diffrence</a></h5>
                                <p>Why I say old chap that is, spiffing jolly good a load of old tosh spend a penny tosser arse over tit, excuse my French owt to do with me up the kyver matie boy.</p>
                                <a href="#">Read More <span><i class="la la-long-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="riyaqas-pagination mg-top-45">
                            <ul>
                                <li><a class="prev page-numbers" href="#"><i class="ti-angle-left"></i></a></li>
                                <li><span class="page-numbers current">1</span></li>
                                <li><span class="page-numbers">2</span></li>
                                <li><a class="page-numbers" href="#">3</a></li>
                                <li><a class="page-numbers" href="#">4</a></li>
                                <li><a class="next page-numbers" href="#"><i class="ti-angle-right"></i></a></li>
                            </ul>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}