{% extends 'templating.html' %}
{% load static %}
	{% block header %}
	{% endblock %}
	{% block content %}
	<div class="main-wrapper">
		<main class="main-container">
			<div class="breadcrumbs__section breadcrumbs__section-simple brk-bg-center-cover pt-130 pb-60 lazyload" data-bg="img/1920x240_2.jpg" data-brk-library="component__breadcrumbs_css">
				<span class="brk-abs-bg-overlay brk-base-gradient-32"></span>
				<div class="breadcrumbs__wrapper">
					<div class="container">
						<div class="d-flex flex-wrap justify-content-center justify-content-lg-between align-items-center">
							<h2 class="brk-white-font-color font__family-montserrat font__weight-thin font__size-40 line__height-46 mb-20 mb-lg-0">Contact Us</h2>
							<ul class="breadcrumb brk-white-font-color font__family-montserrat font__size-15 line__height-21 d-flex align-items-center">
								<li>
									<a href="#">Home</a>
									<i class="fal fa-chevron-right icon"></i>
								</li>
								<li class="active">
									Contact
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<section class="pt-80 pt-xs-0 pb-xs-40 pb-80">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-6 order-2 order-lg-1">
							<form action="#" class="brk-form brk-form-strict pt-15" data-brk-library="component__form">
								<div class="row">
									<div class="col-12 col-lg-6">
										<input type="text" placeholder="Your Name">
									</div>
									<div class="col-12 col-lg-6">
										<input type="text" placeholder="Your mail">
									</div>
									<div class="col-12">
										<textarea placeholder="Your Question" name="textarea" class="bordered-bottom" style="min-height: 110px"></textarea>
									</div>
								</div>
								<div class="text-center">
									<a href="#" class="btn btn-inside-out btn-lg btn-shadow border-radius-0 mt-35" data-brk-library="component__button">
										<span class="before">contact us</span><span class="text">Click Me</span><span class="after">contact us</span>
									</a>
								</div>
							</form>
						</div>
						<div class="col-lg-1 order-lg-2"></div>
						<div class="col-12 col-lg-5 order-1 order-lg-3">
							<h2 class="font__family-montserrat font__size-56 line__height-60 mb-25 mt-5 mt-lg-0 text-center text-lg-left">
								<span class="font__weight-light">Need Help?</span><br>
								<span class="font__weight-bold">Contact Us</span>
							</h2>
							<p class="brk-dark-font-color font__size-16 line__height-26 mb-35 text-center text-lg-left">
								Contact us to get detalied information about our services and Products.
							</p>
							<p class="font__weight-bold font__size-14 mt-10 text-center text-lg-left">
								<i class="icon mr-10 fa fa-envelope line__height-24 brk-base-font-color"></i>
								<a href="mailto:specsotechnologies@gmail.com" class="show-inline-block">specsotechnologies@gmail.com</a>
							</p>
							<p class="font__weight-bold font__size-14 mt-15 text-center text-lg-left">
								<i class="icon mr-10 fa fa-map-marker line__height-24 brk-base-font-color"></i>
								Dehradun, Uttrakhand
							</p>
							<p class="font__weight-bold font__size-14 mt-15 text-center text-lg-left">
								<i class="icon mr-10 fa fa-phone line__height-24 brk-base-font-color"></i>
								<a href="tel:8077600748" class="show-inline-block">+91 8077600748</a>
							</p>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
{% endblock %}