<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Specso Technologies |Best IT Software Development Company in India</title>
    <meta name="Description" content="Specso Technologies: contact for Web designing,Web Application Development,Mobile Application Development,Software Development, ERP related services ">
    <meta name="Keywords" content="Software development company in Dehradun-India, It development companies in Dehradun-India, software development in India, Website Development in Dehradun-India, custom software solutions Web development solutions">
    
    <meta name="author" content="Ayush Tyagi">
    <meta name="publisher" content="Specso Technologies">

    <!-- favicon -->
    <link rel=icon href="assets/img/favicon.png" sizes="20x20" type="image/png">
    <!-- animate -->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    
    <!-- fontawesome -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/line-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <!-- flaticon -->
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <!-- slick slider -->
    <link rel="stylesheet" href="assets/css/slick.css">
    <!-- animated slider -->
    <link rel="stylesheet" href="assets/css/animated-slider.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- responsive Stylesheet -->
    <link rel="stylesheet" href="assets/css/responsive.css"> 
    <!--Codingeek -->
    <link rel="stylesheet" href="../../codingeek-js/codingeek.css">  

</head>
<body>

<!-- preloader area start -->
<div class="preloader" id="preloader">
    <div class="preloader-inner">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
</div>
<!-- preloader area end -->

<!-- search Popup -->
<div class="body-overlay" id="body-overlay"></div>
<div class="search-popup" id="search-popup">
    <form action="https://codingeek.net/html/riyaqas/index.html" class="search-form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search.....">
        </div>
        <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
    </form>
</div>
<!-- //. search Popup -->

<!-- navbar area start -->
<nav class="navbar navbar-area navbar-expand-lg nav-style-01">
    <div class="container nav-container">
        <div class="responsive-mobile-menu">
            <div class="logo-wrapper mobile-logo">
                <a href="index-2.html" class="logo">
                    <img src="assets/img/logo.png" alt="logo">
                </a>
            </div>
            <div class="nav-right-content">
                <ul>
                <li class="search">
                    <i class="ti-search"></i>
                </li>
                <li class="menu-item">
                    <a href="https://codingeek.net/login/" class="login-button"><i class="fa fa-sign-in"></i> Login/Register</a>
                </li>
            </ul>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Riyaqas_main_menu" 
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggle-icon">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="Riyaqas_main_menu">
            <div class="logo-wrapper desktop-logo">
                <a href="index.html" class="logo">
                    <img src="assets/img/logo.png" alt="specso_technologies_software_development_company_in_india">
                </a>
            </div>
            <ul class="navbar-nav">
                <li>
                    <a href="about_specso_technologies_software_development_company_in_india.html">About</a>
                </li>
                 <li class="menu-item-has-children">
                    <a href="#">Products</a>
                    <ul class="sub-menu">
                        <li><a href="accountiee_online_billing_software.html">Accountiee</a></li>
                        <li><a href="dkaksha_online_classes_software.html">Dkaksha</a></li>
                        <li><a href="spec+_artificial_software.html">Spec+</a></li>
                        <li><a href="stack_erp_system.html">Stack</a></li>
                        <li><a href="social_connect_automation_software.html">Social Connect</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Services</a>
                    <ul class="sub-menu">
                        <li><a href="apps_chat.html"> Website Development</a></li>
                        <li><a href="apps_chat.html"> E-Commerce Development</a></li>
                        <li><a href="apps_mailbox.html"> Software Development </a></li>
                        <li><a href="apps_todoList.html"> Mobile App Development </a></li>
                        <li><a href="apps_scrumboard.html"> ERP Systems </a></li> 
                        <li><a href="apps_invoice.html"> Database Management Systems </a></li>                           
                        <li><a href="apps_notes.html"> Search Engine Optimization </a></li>
                        <li><a href="apps_notes.html"> Social Media Marketing </a></li>
                        <li><a href="apps_scrumboard.html"> Graphic Designing </a></li>
                        <li><a href="apps_contacts.html"> Web Hosting </a></li>
                    </ul>
                </li>
                <li>
                    <a href="blog.html">Blog</a>
                </li>
                <li>
                    <a href="job-listing.html">Career</a>
                </li>
                <li>
                    <a href="work_of_specso_technologies_software_development_company_in_india.html">Our Work</a>
                </li>
                <li>
                    <a href="contact_specso_technologies_software_development_company_in_india.html">Contact</a>
                </li>
            </ul>
        </div>
        <div class="nav-right-content">
            <ul>
                <li class="search">
                    <i class="ti-search"></i>
                </li>
                <li class="menu-item">
                    <a href="https://codingeek.net/login/" class="login-button"><i class="fa fa-sign-in"></i> Login/Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- navbar area end -->

<!-- contact form start -->
<div class="contact-form-area pd-top-112">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="section-title text-center w-100">
                    <h2 class="title">Send you <span>inquary</span></h2>
                    <p>We are here to help you. Just drop us few lines, we will get back to you instantly.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5">
                <img src="assets/img/others/21.png" alt="blog">
            </div>
            <div class="col-lg-7 offset-xl-1">
                <form class="riyaqas-form-wrap mt-5 mt-lg-0">
                    <div class="row custom-gutters-16">
                        <div class="col-md-6">
                            <div class="single-input-wrap">
                                <input type="text" class="single-input">
                                <label>Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-input-wrap">
                                <input type="text" class="single-input">
                                <label>E-mail</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single-input-wrap">
                                <input type="text" class="single-input">
                                <label>Subject</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single-input-wrap">
                                <textarea class="single-input textarea" cols="20"></textarea>
                                <label class="single-input-label">Message</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <a class="btn btn-red mt-0" href="#">Send</a>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- map area start -->
<div class="map-area pd-top-120">
    <div class="container">
        <div class="map-area-wrap">
            <div class="row no-gutters">
                <div class="col-lg-8">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3445.4051110358096!2d77.99574376444954!3d30.282526814242445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39092bc7788f6b53%3A0xfa66cc559aae91a5!2sAshima%20Vihar%2C%20Subhash%20Nagar%2C%20Dehradun%2C%20Uttarakhand%20248002!5e0!3m2!1sen!2sin!4v1588671306858!5m2!1sen!2sin" width="806" height="373px;" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>  
                <div class="col-lg-4 desktop-center-item">
                    <div>
                        <div class="contact-info">
                            <h4 class="title">Contact info:</h4>
                            <p class="sub-title">Why I say old chap that is, spiffing jolly good a load of old tosh spend a penny tosser arse over tosh</p>
                            <p>Address: Specso Technoloies, Ashima Vihar, Dehradun, <br>Uttrakhand-India</p>
                            <p><span>Mobile:</span> +91 8077600748</p>
                            <p><span>E-mail:</span> info@specso.in</p>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>
<!-- map area End -->

<!-- footer area start -->
<footer class="footer-area footer-area-2 mg-top-105">
    <div class="container">
        <div class="footer-widget-area mg-top-120">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget widget">
                        <div class="about_us_widget">
                            <a href="index-2.html" class="footer-logo"> 
                                <img src="assets/img/logo.png" alt="footer logo">
                            </a>
                            <p>Our support team will get assistance from AI-powered suggestions, making it quicker than ever to handle support requests.</p>
                            <ul class="social-icon">
                                <li>
                                    <a class="facebook" href="https://www.facebook.com/codingeek.net/" target="_blank"><i class="fa fa-facebook  "></i></a>
                                </li>
                                <li>
                                    <a class="twitter" href="https://twitter.com/codingeeknet" target="_blank"><i class="fa fa-twitter  "></i></a>
                                </li>
                                <li>
                                    <a class="linkedin" href="https://www.linkedin.com/company/codingeek/about/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a class="pinterest" href="https://www.instagram.com/codingeeknet/" target="_blank"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                       </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="footer-widget widget ">
                        <h4 class="widget-title">Contact</h4>
                        <div class="contact_info_list">
                            <p class="contact-content">Manama Tower, Badda Link Road, Badda Dhaka, Bangladesh</p>
                            <p><span>Contact:</span> +91 8077600748</p>
                            <p><span>E-mail:</span> specsotechnologies@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="footer-widget widget widget_nav_menu">
                        <h4 class="widget-title">Quick Link</h4>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="footer-widget widget widget_nav_menu">
                        <h4 class="widget-title">Need Help?</h4>
                        <ul>
                            <li><a href="#">FAQS</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Documentation</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-widget widget">
                        <h4 class="widget-title">Latest News</h4>
                        <div class="about_recent_post">
                            <div class="media">
                                <img src="assets/img/blog/widget1.png" alt="post">
                                <div class="media-body">
                                    <h6><a href="#">New Feature Added</a></h6>
                                    <span>21 August 2019</span>
                                </div>
                            </div>
                            <div class="media">
                                <img src="assets/img/blog/widget2.png" alt="post">
                                <div class="media-body">
                                    <h6><a href="#">Business Development</a></h6>
                                    <span>21 August 2019</span>
                                </div>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-inner">
        <div class="copyright-text">
            &copy;2020 All rights reserved <a href="http://specso.in" target="_blank">by <span>Specso Technologies.</span></a>
        </div>
    </div>
</footer>
<!-- footer area end -->

<!-- back to top area start -->
<div class="back-to-top">
    <span class="back-top"><i class="fa fa-angle-up"></i></span>
</div>
<!-- back to top area end -->

    <!-- jquery -->
    <script src="assets/js/jquery-2.2.4.min.js"></script>
    <!-- popper -->
    <script src="assets/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- magnific popup -->
    <script src="assets/js/jquery.magnific-popup.js"></script>
    <!-- wow -->
    <script src="assets/js/wow.min.js"></script>
    <!-- cssslider slider -->
    <script src="assets/js/jquery.cssslider.min.js"></script>
    <!-- waypoint -->
    <script src="assets/js/waypoints.min.js"></script>
    <!-- counterup -->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!-- imageloaded -->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope -->
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <!-- world map -->
    <script src="assets/js/worldmap-libs.js"></script>
    <script src="assets/js/worldmap-topojson.js"></script>
    <!-- google map js -->
    <script src="assets/js/goolg-map-activate.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVyNXoXHkqAwBKJaouZWhHPCP5vg7N0HQ&amp;callback=initMap"></script>
    <script src="assets/js/mediaelement.min.js"></script>
    <!-- main js -->
    <script src="assets/js/main.js"></script>
    <!-- codingeek -->
    <script src="codingeek-link.js"></script>
    <script src="../../codingeek-js/codingeek.js"></script>
</body>
</html>
