{% extends 'templating.html' %}
{% load static %}
	{% block metatag %}
	<title>About Specso Technologies | Software Development Company</title>	
	{% endblock %}
	{% block content %}
	<div class="main-wrapper">
		<main class="main-container">
			<div class="breadcrumbs__section breadcrumbs__section-simple brk-bg-center-cover pt-130 pb-60 lazyload" data-bg="{% static 'img/1920x240_2.jpg' %}" data-brk-library="component__breadcrumbs_css">
				<span class="brk-abs-bg-overlay brk-base-gradient-32"></span>
				<div class="breadcrumbs__wrapper">
					<div class="container">
						<div class="d-flex flex-wrap justify-content-center justify-content-lg-between align-items-center">
							<h2 class="brk-white-font-color font__family-montserrat font__weight-thin font__size-40 line__height-46 mb-20 mb-lg-0">About Specso Technologies</h2>
							<ul class="breadcrumb brk-white-font-color font__family-montserrat font__size-15 line__height-21 d-flex align-items-center">
								<li>
									<a href="#">Home</a>
									<i class="fal fa-chevron-right icon"></i>
								</li>
								<li class="active">About</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<section class="pt-80 pb-90">
				<div class="container">
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-12 col-md-4">
							<div class="shadow">
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% static 'img/demo_travel_agency/340x440_1.jpg' %}" alt="alt" class="lazyload position-md-relative w-100" style="left: 30px; bottom: 30px;">
							</div>
						</div>
						<div class="col-md-1"></div>
						<div class="col-12 col-md-6 col-lg-5">
							<h2 class="font__family-montserrat font__weight-bold font__size-48 line__height-52 mt-30 text-uppercase mb-25 mt-10 brk-color-base-3" data-brk-library="component__title">About Us</h2>
							<div class="divider-cross wow zoomIn divider-cross_left" data-brk-library="component__title">
								<span></span>
								<span></span>
							</div>
							<p class="font__family-montserrat font__size-21 font__weight-bold line__height-28 mb-20 mt-50">How to hire me?</p>
							<p class="font__size-16 font__weight-normal line__height-26 mb-25">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient mon eu.</p>
							<p class="font__size-16 font__weight-normal line__height-26">In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean.</p>
						</div>
					</div>
				</div>
			</section>
			<section>
			<div class="brk-backgrounds brk-base-bg-gradient-15" data-brk-library="component__backgrounds_css,component__backgrounds_js,assets_particleground">
				<div class="brk-backgrounds__canvas brk-particles-standart"></div>
				<div class="brk-backgrounds__content">
					<div class="container mt-60 mb-60">
						<div class="row justify-content-center">
							<div class="col-sm-6 col-xl-3">
								<div class="counter__wrapper-icon white" data-brk-library="component__counter">
									<i class="icon far fa-smile" style="color:#fff;"></i>
									<div class="cont">
										<div data-count-speed="3000" data-count-from="0" data-count-to="64" class="counter"></div>
										<p class="font__family-montserrat font__weight-semibold font__size-16 mt-10">Complet Projects</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-xl-3">
								<div class="counter__wrapper-icon white" data-brk-library="component__counter">
									<i class="icon fas fa-laptop-code" style="color:#fff;"></i>
									<div class="cont">
										<div data-count-speed="3000" data-count-from="0" data-count-to="80" class="counter"></div>
										<p class="font__family-montserrat font__weight-semibold font__size-16 mt-10">Technology</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-xl-3">
								<div class="counter__wrapper-icon white" data-brk-library="component__counter">
									<i class="icon fas fa-cogs" style="color:#fff;"></i>
									<div class="cont">
										<div data-count-speed="3000" data-count-from="0" data-count-to="30" class="counter"></div>
										<p class="font__family-montserrat font__weight-semibold font__size-16 mt-10">Services</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-xl-3">
								<div class="counter__wrapper-icon white" data-brk-library="component__counter">
									<i class="icon fas fa-boxes" style="color:#fff;"></i>
									<div class="cont">
										<div data-count-speed="3000" data-count-from="0" data-count-to="5" class="counter"></div>
										<p class="font__family-montserrat font__weight-semibold font__size-16 mt-10">Products</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="brk-bg-light-dark-2 pt-50 pb-80">
			<div class="container mb-60">
				<div class="row align-items-center">
					<div class="col-xl-3">
						<div class="maxw-770" data-brk-library="component__title">
							<div class="text-left">
								<h4 class="font__family-montserrat highlight-underline line__height-42 font__size-36 font__weight-bold">
									<span class="before wow fadeInUp"></span>
									<span class="before wow fadeInUp"></span>Founders
								</h4>
							</div>
						</div>
					</div>
					<div class="col-xl-9">
						<div class="font__size-16 line__height-26 brk-dark-blur-font-color mt-30">As widely expected, Hackitt has declined to
							proscribe the use of flammable materials in cladding systems, despite widespread calls for her to do so. Her
							report instead says it is for the construction industry.
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-md-6 col-12">
						<article class="brk-team-persone-circle brk-base-box-shadow text-center" data-brk-library="component__team">
							<div class="brk-team-persone-circle__name-position">
								<a href="#">
									<h4 class="font__family-montserrat font__weight-bold font__size-18">Ayush Tyagi</h4>
								</a>
								<span class="font__family-montserrat font__weight-normal font__size-16 line__height-24">Founder</span>
							</div>
							<div class="brk-team-persone-circle__bg lazyload" data-bg="{% static 'images/team/ayush_tyagi.jpg' %}">
								<span class="brk-team-persone-circle__bg-overlay">
									<span class="before brk-base-bg-gradient-90deg"></span>
									<svg viewBox="0 0 270 37">
										<path d="M270,37H0V0A267.6,267.6,0,0,0,135.53,36.5,267.52,267.52,0,0,0,270,0Z" fill="rgb(255, 255, 255)" />
									</svg>
								</span>
								<ul class="brk-team-persone-circle__contacts">
									<li>
										<i class="fas fa-phone" aria-hidden="true"></i>
										<a href="tel:8077600748">+91 8077600748</a>
									</li>
									<li>
										<i class="far fa-envelope" aria-hidden="true"></i>
										<a href="mailto:ayushtyagi2139@gmail.com">ayushtyagi2139@gmail.com</a>
									</li>
									<li>
										<i class="fab fa-instagram" aria-hidden="true"></i>
										<a href="#">bernard.show</a>
									</li>
									<li>
										<i class="fab fa-skype" aria-hidden="true"></i>
										<a href="#">skype.show</a>
									</li>
								</ul>
							</div>
							<div class="brk-team-persone-circle__social-links">
								<ul>
									<li><a href="https://www.facebook.com/ayush.tyagi.007"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
									<li><a href="https://twitter.com/ayushtyagi2139"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
									<li><a href="https://www.linkedin.com/in/ayush-tyagi-74586a130/"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</article>
					</div>
					<div class="col-xl-6 col-md-6 col-12">
						<article class="brk-team-persone-circle brk-base-box-shadow text-center" data-brk-library="component__team">
							<div class="brk-team-persone-circle__name-position">
								<a href="#">
									<h4 class="font__family-montserrat font__weight-bold font__size-18">Shivani Dhyani</h4>
								</a>
								<span class="font__family-montserrat font__weight-normal font__size-16 line__height-24">Co-Founder</span>
							</div>
							<div class="brk-team-persone-circle__bg lazyload" data-bg="{% static 'images/team/shivani_dhyani.jpg' %}">
								<span class="brk-team-persone-circle__bg-overlay">
									<span class="before brk-base-bg-gradient-90deg"></span>
									<svg viewBox="0 0 270 37">
										<path d="M270,37H0V0A267.6,267.6,0,0,0,135.53,36.5,267.52,267.52,0,0,0,270,0Z" fill="rgb(255, 255, 255)" />
									</svg>
								</span>
								<ul class="brk-team-persone-circle__contacts">
									<li>
										<i class="fas fa-phone" aria-hidden="true"></i>
										<a href="tel:9027252682">+91 9027252682</a>
									</li>
									<li>
										<i class="far fa-envelope" aria-hidden="true"></i>
										<a href="mailto:shivanidhyani07@gmail.com">shivanidhyani07@gmail.com</a>
									</li>
									<li>
										<i class="fab fa-instagram" aria-hidden="true"></i>
										<a href="#">bernard.show</a>
									</li>
									<li>
										<i class="fab fa-skype" aria-hidden="true"></i>
										<a href="#">skype.show</a>
									</li>
								</ul>
							</div>
							<div class="brk-team-persone-circle__social-links">
								<ul>
									<li><a href="https://www.facebook.com/jiya.dhyani.31/"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
									<li><a href="https://www.linkedin.com/in/shivani-dhyani-a90594160/"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</article>
					</div>
				</div>
			</div>
		</section>
		</main>
	</div>
	{% endblock %}
	