{% extends "common.html" %}
{% block title %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specso Technologies |Best IT Software Development Company in India</title>
    <meta name="Description" content="Specso Technologies is one of the leading IT software development company in India.We are experts in Web designing,Web Application Development,Mobile Application Development,Software Development, ERP">
    <meta name="Keywords" content="Software development company in Dehradun-India, It development companies in Dehradun-India, software development in India, Website Development in Dehradun-India, custom software solutions">
        
    <meta name="author" content="Ayush Tyagi">
    <meta name="publisher" content="Specso Technologies">
    
    <!--og tag--> 
    <meta property="og:title" content="Best IT Software Development Company in Dehradun-India" />
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_IN">
    <meta property="og:description" content="Specso Technologies is a Best IT software development company in Dehradun-India, India providing best software development solutions, Developing custom software applications">
    <meta property="og:url" content="https://www.specso.in">
    <meta property="og:image" content="https://www.specso.in/">
    <meta property="og:site_name" content="specso.in">
    <!--end og tag--> 

    <!--twitter tag--> 
    <meta name="twitter:url" content="https://twitter.com/Specso1">
    <meta name="twitter:title" content="Specso Technologies is best IT software company in Dehradun-India">
    <!--end twitter tag-->
    {% endblock %}
    {% load staticfiles %}
    {% block content %}  
    <!-- header area start -->
    <div class="header-area header-bg">
        <div class="container">
            <div class="banner-slider banner-slider-one">
                <div class="banner-slider-item">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6 col-md-6 offset-xl-1">
                            <div class="header-inner-details">
                                <div class="header-inner">
                                    <h1 class="title s-animate-1">Accountiee<span><br>Billing Software</span></h1>
                                    <p class="s-animate-2">There are many variations of passages of Lorem Ipsum available, <br> but the majority have suffered alteration.</p>
                                    <div class="btn-wrapper desktop-left padding-top-20 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                                        <a href="#" class="btn btn-radius btn-red-border mr-2 mb-2">Buy Now</a>
                                        <a href="accountiee_online_billing_software.html" class="btn btn-radius btn-red mb-2">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 hidden-sm">
                            <div class="banner-thumb-wrap">
                                <div class="banner-thumb">
                                    <img class="header-inner-img" src="assets/img/slider/accountiee_online_billing_software.jpg" alt="Accountiee Online Billing Software">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-slider-item">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6 col-md-6  offset-xl-1">
                            <div class="header-inner-details">
                                <div class="header-inner">
                                    <h1 class="title s-animate-1">Dkaksha <span><br>Online Classes Softwre</span></h1>
                                    <p class="s-animate-2">DKaksha is an online Classroom Application which hepls School's and College's to run in tough situations, such as the COVID-19 outbreak and other natural disasters that force campuses to close down. </p>
                                    <div class="btn-wrapper desktop-left padding-top-20 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                                        <a href="#" class="btn btn-radius btn-red-border mr-2 mb-2">Buy Now</a>
                                        <a href="dkaksha_online_classes_software.html" class="btn btn-radius btn-red mb-2">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 hidden-sm">
                            <div class="banner-thumb-wrap">
                                <div class="banner-thumb">
                                    <img class="header-inner-img" src="assets/img/slider/online_classes_dkaksha.jpg" alt="Online Classes Dkaksha">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-slider-item">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6 col-md-6  offset-xl-1">
                            <div class="header-inner-details">
                                <div class="header-inner">
                                    <h1 class="title s-animate-1">Spec+ <span><br>Hospital Management Software</span></h1>
                                    <p class="s-animate-2">Spec+ is a high tech solution that enables hospitals and medical facilities to overcome the major challenges in healthcare industry easily and efficiently.</p>
                                    <div class="btn-wrapper desktop-left padding-top-20 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                                        <a href="#" class="btn btn-radius btn-red-border mr-2 mb-2">Buy Now</a>
                                        <a href="spec+_artificial_software.html" class="btn btn-radius btn-red mb-2">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 hidden-sm">
                            <div class="banner-thumb-wrap">
                                <div class="banner-thumb">
                                    <img class="header-inner-img" src="assets/img/slider/online_medical_management_system_spec.jpg" alt="Online Medical Management System Spec+">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-slider-item">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6 col-md-6  offset-xl-1">
                            <div class="header-inner-details">
                                <div class="header-inner">
                                    <h1 class="title s-animate-1">Stack <span><br>ERP System</span></h1>
                                    <p class="s-animate-2">There are many variations of passages of Lorem Ipsum available, <br> but the majority have suffered alteration.</p>
                                    <div class="btn-wrapper desktop-left padding-top-20 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                                        <a href="#" class="btn btn-radius btn-red-border mr-2 mb-2">Buy Now</a>
                                        <a href="stack_erp_system.html" class="btn btn-radius btn-red mb-2">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 hidden-sm">
                            <div class="banner-thumb-wrap">
                                <div class="banner-thumb">
                                    <img class="header-inner-img" src="assets/img/slider/online_erp_system_stack.jpg" alt="Online ERP System Stack">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-slider-item">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6 col-md-6  offset-xl-1">
                            <div class="header-inner-details">
                                <div class="header-inner">
                                    <h1 class="title s-animate-1">Social Connect <span><br>SMM Software</span></h1>
                                    <p class="s-animate-2">There are many variations of passages of Lorem Ipsum available, <br> but the majority have suffered alteration.</p>
                                    <div class="btn-wrapper desktop-left padding-top-20 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                                        <a href="#" class="btn btn-radius btn-red-border mr-2 mb-2">Buy Now</a>
                                        <a href="stack_erp_system.html" class="btn btn-radius btn-red mb-2">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 hidden-sm">
                            <div class="banner-thumb-wrap">
                                <div class="banner-thumb">
                                    <img class="header-inner-img" src="assets/img/slider/social_connect_social_media_marketing_software.jpg" alt="Online ERP System Stack">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header area End -->

    <!-- service area start -->
    <div class="sbst-offer-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-10">
                    <div class="section-title text-center">
                        <h2 class="title wow animated fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.1s">What <span>Services</span> We are Providing</h2>
                        <p class="wow animated fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.2s">We provide various technology services to our clients and our effort is to always give the best products with latest technologies. We keep our eyes open towards new technologies and tools coming in the IT market and if required then, arrange appropriate training for our team. We believe in consistent learning to keep our competence level high.</p>
                    </div>
                </div>
            </div>
            <div class="row custom-gutters-28 justify-content-center">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="single-offer wow animated fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.1s">
                        <div class="media">
                            <img src="assets/img/services_svg/web_development_service.svg" alt="web_development_service">
                            <div class="media-body align-self-center">
                                <a href=""><h6>Web Development</h6></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="single-offer wow animated fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.3s">
                        <div class="media">
                            <img src="assets/img/services_svg/e_commerce_service.svg" alt="E-Commerce_service">
                            <div class="media-body align-self-center">
                                <a href=""><h6> E-Commerce Development</h6></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="single-offer wow animated fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.5s">
                        <div class="media">
                            <img src="assets/img/services_svg/software_development_service.svg" alt="offer" align="software_development_service">
                            <div class="media-body align-self-center">
                                <a href=""><h6>Software Development</h6></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="single-offer wow animated fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.7s">
                        <div class="media">
                            <img src="assets/img/services_svg/mobile_application_development_service.svg" alt="mobile_application_development_service">
                            <div class="media-body align-self-center">
                                <a href=""><h6>Mobile Application Development</h6></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="single-offer wow animated fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.8s">
                        <div class="media">
                            <img src="assets/img/services_svg/erp_system_service.svg" alt="erp_system_service">
                            <div class="media-body align-self-center">
                                <a href=""><h6>ERP Systems</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="single-offer wow animated fadeInUp" data-wow-duration="0.6s" data-wow-delay="1.0s">
                        <div class="media">
                            <img src="assets/img/services_svg/database_managment_system_service.svg" alt="database_managment_system_service">
                            <div class="media-body align-self-center">
                                <a href=""><h6>Database Managment System</h6></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="single-offer wow animated fadeInUp" data-wow-duration="0.6s" data-wow-delay="1.0s">
                        <div class="media">
                            <img src="assets/img/services_svg/search_engine_optimization_service.svg" alt="search_engine_optimization_service">
                            <div class="media-body align-self-center">
                                <a href=""><h6>Search Engine Optimization</h6></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="single-offer wow animated fadeInUp" data-wow-duration="0.6s" data-wow-delay="1.0s">
                        <div class="media">
                            <img src="assets/img/services_svg/social_media_marketing_service.svg" alt="social_media_marketing_service">
                            <div class="media-body align-self-center">
                                <a href=""><h6>Social Media Marketing</h6></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="single-offer wow animated fadeInUp" data-wow-duration="0.6s" data-wow-delay="1.0s">
                        <div class="media">
                            <img src="assets/img/services_svg/graphic_designing_service.svg" alt="graphic_designing_service">
                            <div class="media-body align-self-center">
                                <a href=""><h6>Graphic Designing</h6></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="single-offer wow animated fadeInUp" data-wow-duration="0.6s" data-wow-delay="1.0s">
                        <div class="media">
                            <img src="assets/img/services_svg/web_hosting_service.svg" alt="web_hosting_service">
                            <div class="media-body align-self-center">
                                <a href=""><h6>Web Hosting</h6></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service area End -->

    <!-- why choose specso technologies start -->
    <div class="sbs-provide-security pd-top-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12 order-lg-1 align-self-center wow animated fadeInRight">
                    <div class="section-title style-two">
                        <h2 class="title" align="center">Why Choose <span>Specso Technologies</span></h2>
                        <p>Our support team will get assistance from AI-powered suggestions, making it quicker than ever to handle requests  to handle suggestions assistance it requests.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="riyaqas-check-list">
                                <img class="media-left" src="assets/img/icons/9.svg" alt="check">
                                <span>Our Team</span>
                                <p>Our team is specialized in delivering an extensive array of web-based softwares for all types of industries.</p>
                            </div>
                            <div class="riyaqas-check-list">
                                <img class="media-left" src="assets/img/icons/12.svg" alt="check">
                                <span>Happy Clients</span>
                                <p>We satisfied our clients with a good services</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="riyaqas-check-list">
                                <img class="media-left" src="assets/img/icons/12.svg" alt="check">
                                <span>Transparency</span>
                                <p>We report you daily & weekly with all the minute project details & take suggestions if required.</p>
                            </div>
                            <div class="riyaqas-check-list">
                                <img class="media-left" src="assets/img/icons/12.svg" alt="check">
                                <span>Free Consultation</span>
                                <p>Get in touch for a free consultation with Us. Find out what we can do to help your business succeed online.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="riyaqas-check-list">
                                <img class="media-left" src="assets/img/icons/11.svg" alt="check">
                                <span>Delivery on Time</span>
                                <p>We committed to Our Customer provide complete data & get projects delivery on time.</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="btn-wrapper padding-top-20 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" align="center">
                    <a href="stack_erp_system.html" class="btn btn-radius btn-red mb-2"> Let's Discuss Your Project </a>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- why choose specso technologies End -->

    <!-- Technology and Development Stack start -->
    <div class="sbs-what-riyaqas pd-default-120" style="background-image:url(assets/img/bg/1h1.png);">
    <div class="container">
            <div class="job-position-area">
                <div class="row justify-content-center">
                    <div class="col-xl-12">
                        <div class="section-title style-four">
                            <h2 class="title" align="center">Technology <span>&</span> Development Stack</h2>
                        </div>
                        <!-- technology stack -->

                        <div class="row custom-gutters-28 justify-content-center">
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-offer">
                                    <h4 align="center">Trending</h4><hr>
                                    <div class="media technology_stack">
                                        <img src="assets/img/technology_stack/Artificial_Intelligence.png" alt="Artificial_Intelligence">
                                        <div class="media-body align-self-center">
                                            <h6>Artificial Intelligence</h6>
                                        </div>
                                    </div>
                                    <div class="media technology_stack">
                                        <img src="assets/img/technology_stack/block_chain.png" alt="block_chain">
                                        <div class="media-body align-self-center">
                                            <h6>Block Chain</h6>
                                        </div>
                                    </div>
                                    <div class="media technology_stack">
                                        <img src="assets/img/technology_stack/cloud_computing.png" alt="cloud_computing">
                                        <div class="media-body align-self-center">
                                            <h6>Cloud Computing</h6>
                                        </div>
                                    </div>
                                    <div class="media technology_stack">
                                        <img src="assets/img/technology_stack/chatbot.png" alt="chat_bot">
                                        <div class="media-body align-self-center">
                                            <h6>Chat Bot</h6>
                                        </div>
                                    </div>
                                    <div class="media technology_stack">
                                        <img src="assets/img/technology_stack/machine_learning.png" alt="machine_learning">
                                        <div class="media-body align-self-center">
                                            <h6>Machine Learning</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-offer">
                                    <h4 align="center">JS Stack</h4><hr>
                                    <div class="media technology_stack">
                                        <img src="assets/img/technology_stack/AngularJs.png" alt="AngularJs">
                                        <div class="media-body align-self-center">
                                            <h6>Angular JS</h6>
                                        </div>
                                    </div>
                                    <div class="media technology_stack">
                                        <img src="assets/img/technology_stack/BackboneJs.png" alt="BackboneJs">
                                        <div class="media-body align-self-center">
                                            <h6>Backbone JS</h6>
                                        </div>
                                    </div>
                                    <div class="media technology_stack">
                                        <img src="assets/img/technology_stack/ElectronJs.png" alt="ElectronJs">
                                        <div class="media-body align-self-center">
                                            <h6>Electron Js</h6>
                                        </div>
                                    </div>
                                    <div class="media technology_stack">
                                        <img src="assets/img/technology_stack/NodeJs.png" alt="NodeJs">
                                        <div class="media-body align-self-center">
                                            <h6>Node JS</h6>
                                        </div>
                                    </div>
                                    <div class="media technology_stack">
                                        <img src="assets/img/technology_stack/ReactJs.png" alt="Reactjs">
                                        <div class="media-body align-self-center">
                                            <h6>React JS</h6>
                                        </div>
                                    </div>
                                    <div class="media technology_stack">
                                        <img src="assets/img/technology_stack/VueJs.png" alt="VueJs">
                                        <div class="media-body align-self-center">
                                            <h6>Vue JS</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-offer">
                                    <h4 align="center">Data Base</h4><hr>
                                    <div class="media technology_stack">
                                        <img src="assets/img/technology_stack/mysql.png" alt="mysql">
                                        <div class="media-body align-self-center">
                                            <h6>My Sql</h6>
                                        </div>
                                    </div>
                                    <div class="media technology_stack">
                                        <img src="assets/img/technology_stack/mongodb.png" alt="mongodb">
                                        <div class="media-body align-self-center">
                                            <h6>Mongo DB</h6>
                                        </div>
                                    </div>
                                    <div class="media technology_stack">
                                        <img src="assets/img/technology_stack/oracle.png" alt="oracle">
                                        <div class="media-body align-self-center">
                                            <h6>Oracle</h6>
                                        </div>
                                    </div>
                                    <div class="media technology_stack">
                                        <img src="assets/img/technology_stack/postgresql.png" alt="postgresql">
                                        <div class="media-body align-self-center">
                                            <h6>Postgre Sql</h6>
                                        </div>
                                    </div>
                                    <div class="media technology_stack">
                                        <img src="assets/img/technology_stack/sql_server.png" alt="sql_server">
                                        <div class="media-body align-self-center">
                                            <h6>SQL Server</h6>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single-offer">
                                    <h4 align="center">Languages</h4><hr>
                                    <div class="media technology_stack">
                                        <img src="assets/img/technology_stack/C_Cplusplus.png" alt="C_Cplusplus">
                                        <div class="media-body align-self-center">
                                            <h6>C/C++</h6>
                                        </div>
                                    </div>
                                    <div class="media technology_stack">
                                        <img src="assets/img/technology_stack/Java.png" alt="Java">
                                        <div class="media-body align-self-center">
                                            <h6>Java</h6>
                                        </div>
                                    </div>
                                    <div class="media technology_stack">
                                        <img src="assets/img/technology_stack/python.png" alt="python">
                                        <div class="media-body align-self-center">
                                            <h6>Python</h6>
                                        </div>
                                    </div>
                                    <div class="media technology_stack">
                                        <img src="assets/img/technology_stack/php.png" alt="php">
                                        <div class="media-body align-self-center">
                                            <h6>Php</h6>
                                        </div>
                                    </div> 
                                    <div class="media technology_stack">
                                        <img src="assets/img/technology_stack/ruby.png" alt="ruby">
                                        <div class="media-body align-self-center">
                                            <h6>Ruby</h6>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Technology and Development Stack End -->

    <!-- goal area start -->
    <div class="sbtc-goal-counter-area pd-top-115">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-9">
                    <div class="thumb">
                        <img src="assets/img/others/7.png" alt="goal">
                    </div>
                    <div class="goal-counter">
                        <div class="section-title">
                            <h2 class="title">Achieving <span>goals</span> <br> as a team</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="single-counter text-center">
                                    <span class="counting count-num">50</span>
                                    <h6>Worldwide User</h6>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-counter text-center">
                                    <span class="counting count-num">35</span>
                                    <h6>Happy Client</h6>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-counter text-center">
                                    <span class="counting count-num">14</span>
                                    <h6>Running Project</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- goal area End -->

    <!-- client area start -->
    <div class="client-area pd-top-110">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-9">
                    <div class="section-title style-two text-center">
                        <h2 class="title">What Our <span>Client Say?</span></h2>
                        <p>Our support team will get assistance from AI-powered suggestions, making it quicker than ever to handle support requests. Our support team will get assistance from AI-powered suggestions.</p>
                    </div>
                </div>
            </div>
            <div class="client-slider">
                <div class="client-slider-item">
                    <div class="media">
                        <div class="media-left media-left-one">
                            <img src="assets/img/client/4.png" alt="client">
                        </div>
                        <div class="media-body">
                            <h6>Ashraf Ali</h6>
                            <p>CEO of Kowcub</p>
                        </div>
                    </div>
                    <p class="client-content">With Accountiee, you'll never find errors in your sales record even if thy are skyrocketing. And you'll be able to see all you transactions (UPI,Cash or credit) all at one place, Specso has impressed me by doing such a task in such small period of time .</p>
                </div>
                <div class="client-slider-item">
                    <div class="media">
                        <div class="media-left media-left-two">
                            <img src="assets/img/client/5.png" alt="client">
                        </div>
                        <div class="media-body">
                            <h6>Dr. Riju Kumar,</h6>
                            <p>Owner, Sukhayu Hospital</p>
                        </div>
                    </div>
                    <p class="client-content">Specso understand the requirements with great focus on detailed services , unlimited revisions and client satisfaction, what more can you ask for.</p>
                </div>
                <div class="client-slider-item">
                    <div class="media">
                        <div class="media-left media-left-three">
                            <img src="assets/img/client/Mr.Ashok.jpg" alt="client">
                        </div>
                        <div class="media-body">
                            <h6>Ashok Kumar</h6>
                            <p>CEO , Sunlight Energy</p>
                        </div>
                    </div>
                    <p class="client-content">Best thing about people at Specso is that they help you find the best solution in affordable price.</p>
                </div>
                <div class="client-slider-item">
                    <div class="media">
                        <div class="media-left media-left-three">
                            <img src="assets/img/client/6.png" alt="client">
                        </div>
                        <div class="media-body">
                            <h6>Cpt. Shubham Tyagi,</h6>
                            <p>Indian Army</p>
                        </div>
                    </div>
                    <p class="client-content">People at Specso create an atmosphere of unique ideas and edge cases that tests the product you want to the rarest conditions possible making it a sustainable long term solution </p>
                </div>
            </div>
        </div>
    </div>
    <!-- client area End -->
    {% endblock %}