{% extends 'templating.html' %}
{% load static %}
	{% block header %}
	{% endblock %}
	{% block content %}
	<div class="main-wrapper">
		<main class="main-container">
			<div class="breadcrumbs__section breadcrumbs__section-simple brk-bg-center-cover pt-130 pb-60 lazyload" data-bg="{% static 'img/1920x240_2.jpg' %}" data-brk-library="component__breadcrumbs_css">
				<span class="brk-abs-bg-overlay brk-base-gradient-32"></span>
				<div class="breadcrumbs__wrapper">
					<div class="container">
						<div class="d-flex flex-wrap justify-content-center justify-content-lg-between align-items-center">
							<h2 class="brk-white-font-color font__family-montserrat font__weight-thin font__size-40 line__height-46 mb-20 mb-lg-0">Specso Technologies Work</h2>
							<ul class="breadcrumb brk-white-font-color font__family-montserrat font__size-15 line__height-21 d-flex align-items-center">
								<li>
									<a href="#">Home</a>
									<i class="fal fa-chevron-right icon"></i>
								</li>
								<li class="active">About</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<section class="mb-80 mt-120">
				<div class="brk-tabs brk-tabs_tabbed-intro" data-index="1" data-brk-library="component__tabbed_contents">
					<ul class="brk-tabs-nav">
						<li class="brk-tab"><i class="far fa-file-code" aria-hidden="true"></i><span>Web <br>Development</span></li>
						<li class="brk-tab"><i class="fas fa-laptop-code" aria-hidden="true"></i><span>Software <br>Development</span></li>
						<li class="brk-tab"><i class="fas fa-mobile-alt"></i><span>Mobile Applications <br>Development</span></li>
						<li class="brk-tab"><i class="fas fa-drafting-compass" aria-hidden="true"></i><span>Graphic <br>Designing</span></li>
						<li class="brk-tab"><i class="fas fa-cube"></i><span>Artificial Intelligence<br>Machine Learning</span></li>

					</ul>
					<div class="brk-tabs-content position-relative">
						<div class="brk-abs-overlay" data-bg="img/bg-patterns/3.png">
							<span class="brk-abs-overlay brk-bg-grad opacity-95"></span>
						</div>
						<div class="brk-tab-item">
							<div class="container">
								<div class="row">
									<div class="col-xl-4">
										<h4 class="font__family-montserrat font__weight-semibold font__size-28 text-xl-left text-center brk-white-font-color mb-20 mt-10">Foundation of the company</h4>
										<p class="font__size-16 line__height-26 text-xl-left text-center">Viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
									</div>
									<div class="col-xl-4">
										<h4 class="font__family-montserrat font__weight-semibold font__size-28 text-xl-left text-center brk-white-font-color mb-20 mt-10">Promoting products and services</h4>
										<p class="font__size-16 line__height-26 text-xl-left text-center mb-30">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
									</div>
									<div class="col-xl-4">
										<div class="text-center text-xl-left mb-30">
											<a href="img/320x320_1.jpg" class="frame-image image-popup img-square shadow fancybox" data-brk-library="fancybox">
												<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/320x320_1.jpg" alt="alt" class="lazyload">
												<span class="square"></span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="brk-tab-item">
							<div class="container">
								<h3 class="font__family-montserrat font__size-28 font__weight-light text-center brk-white-font-color opacity-90">Parallax Support Tons Color Schemes</h3>
								<h2 class="font__family-montserrat font__weight-bold line__height-60 brk-white-font-color mb-30 text-center">Smartly Coded &amp; Maintained.</h2>
								<div class="row justify-content-center">
									<div class="col-xl-8 col-lg-10 col-md-12">
										<p class="line__height-26 font__size-16 mb-30 text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
									</div>
								</div>
								<div class="text-center">
									<button class="btn btn-lg border-radius-30 font__family-open-sans font__weight-bold btn-inside-out btn-inside-out-invert btn-min-width-200">
										<span class="before">Read More</span>
										<span class="text">Read More</span>
										<span class="after">Read More</span>
									</button>
								</div>
							</div>
						</div>
						<div class="brk-tab-item">
							<div class="container">
								<div class="row">
									<div class="col-xl-4">
										<h4 class="font__family-montserrat font__weight-semibold font__size-28 text-lg-left text-center brk-white-font-color mb-20 mt-10">Foundation of the company</h4>
										<p class="font__size-16 line__height-26 text-lg-left text-center">Viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
									</div>
									<div class="col-xl-4">
										<h4 class="font__family-montserrat font__weight-semibold font__size-28 text-lg-left text-center brk-white-font-color mb-20 mt-10">Promoting products and services</h4>
										<p class="font__size-16 line__height-26 text-lg-left text-center mb-30">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
									</div>
									<div class="col-xl-4">
										<div class="text-center text-lg-left mb-30">
											<a href="img/320x320_2.jpg" class="frame-image image-popup img-square shadow fancybox" data-brk-library="fancybox">
												<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/320x320_2.jpg" alt="alt" class="lazyload">
												<span class="square"></span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="brk-tab-item">
							<div class="container">
								<div class="row">
									<div class="post-filmstrip text-center brk-base-box-shadow lazyload" data-bg="{% static 'img/demo_creative_agency/570x340_1.jpg' %}" data-brk-library="component__content_slider,fancybox,anime">
										<div class="post-filmstrip__overlay brk-base-bg-gradient-50deg"></div>
										<div class="post-filmstrip__content text-center">
											<h3 class="font__family-montserrat font__weight-semibold font__size-21 line__height-24">
												Smartly Coded &amp; Maintained.
											</h3>
											<div class="post-filmstrip__excerpt font__family-open-sans font__size-16 line__height-26">
												The web is both an interactive and virtually unlimited medium, meaning that your own little corner of it has great potential.
											</div>
											<div class="links">
												<a href="#" class="links__permalink bg-white-20">
													<i class="fas fa-link"></i>
												</a>
												<a href="{% static 'img/demo_creative_agency/570x340_1.jpg' %}" class="links__view fancybox">
													<i class="fas fa-search"></i>
												</a>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-lg-4 col-md-6 brk-grid__item brk-grid__item_height-370 magazines design" data-brk-hover3d="{&quot;imgWrapper&quot;: &quot;.post-filmstrip&quot;, &quot;caption&quot;: &quot;.post-filmstrip__content&quot;}">
								<div class="post-filmstrip text-center brk-base-box-shadow lazyload" data-bg="{% static 'img/demo_creative_agency/270x340_4.jpg' %}" data-brk-library="component__content_slider,fancybox,anime">
									<div class="post-filmstrip__overlay brk-base-bg-gradient-50deg"></div>
									<div class="post-filmstrip__content text-center">
										<h3 class="font__family-montserrat font__weight-semibold font__size-21 line__height-24">
											7 Signs
										</h3>
										<div class="post-filmstrip__excerpt font__family-open-sans font__size-16 line__height-26">
											The web is both an interactive and virtually unlimited medium, meaning
										</div>
										<div class="links">
											<a href="#" class="links__permalink bg-white-20">
												<i class="fas fa-link"></i>
											</a>
											<a href="{% static 'img/demo_creative_agency/270x340_4.jpg' %}" class="links__view fancybox">
												<i class="fas fa-search"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
									<div class="post-filmstrip text-center brk-base-box-shadow lazyload" data-bg="{% static 'img/demo_creative_agency/570x340_1.jpg' %}" data-brk-library="component__content_slider,fancybox,anime">
										<div class="post-filmstrip__overlay brk-base-bg-gradient-50deg"></div>
										<div class="post-filmstrip__content text-center">
											<h3 class="font__family-montserrat font__weight-semibold font__size-21 line__height-24">
												Smartly Coded &amp; Maintained.
											</h3>
											<div class="post-filmstrip__excerpt font__family-open-sans font__size-16 line__height-26">
												The web is both an interactive and virtually unlimited medium, meaning that your own little corner of it has great potential.
											</div>
											<div class="links">
												<a href="#" class="links__permalink bg-white-20">
													<i class="fas fa-link"></i>
												</a>
												<a href="{% static 'img/demo_creative_agency/570x340_1.jpg' %}" class="links__view fancybox">
													<i class="fas fa-search"></i>
												</a>
											</div>
										</div>
									</div>
									<div class="post-filmstrip text-center brk-base-box-shadow lazyload" data-bg="{% static 'img/demo_creative_agency/570x340_1.jpg' %}" data-brk-library="component__content_slider,fancybox,anime">
										<div class="post-filmstrip__overlay brk-base-bg-gradient-50deg"></div>
										<div class="post-filmstrip__content text-center">
											<h3 class="font__family-montserrat font__weight-semibold font__size-21 line__height-24">
												Smartly Coded &amp; Maintained.
											</h3>
											<div class="post-filmstrip__excerpt font__family-open-sans font__size-16 line__height-26">
												The web is both an interactive and virtually unlimited medium, meaning that your own little corner of it has great potential.
											</div>
											<div class="links">
												<a href="#" class="links__permalink bg-white-20">
													<i class="fas fa-link"></i>
												</a>
												<a href="{% static 'img/demo_creative_agency/570x340_1.jpg' %}" class="links__view fancybox">
													<i class="fas fa-search"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="brk-tab-item">
							<div class="container">
								<div class="row align-items-center justify-content-center" data-brk-library="component__image_frames">
									<div class="col-lg-4">
										<div class="text-center text-lg-left">
											<a href="#" class="frame-image image-link rounded-all shadow">
												<span class="brk-image-frames-icon"><i class="fas fa-plus"></i></span>
												<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/370x370_1.jpg" alt="alt" class="lazyload">
											</a>
										</div>
									</div>
									<div class="col-lg-8 text-center text-lg-left mt-30 mt-lg-0">
										<div class="show-flex align-items-center">
											<img src="img/letter.png" class="mr-20" alt="alt">
											<p class="font__family-open-sans font__size-16 line__height-26 brk-white-font-color">Aenean vulputate eleifend
												tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
												viverra quis, feugiat a, tellus.</p>
										</div>
										<div class="ml-30">
											<h2 class="font__family-montserrat font__weight-bold font__size-28 line__height-32 text-uppercase mt-30 brk-white-font-color">Be
												Awesome &amp; Be creative!</h2>
											<p class="font__family-open-sans font__size-16 line__height-26 mt-20 brk-white-font-color">
												Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
												Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius
												laoreet. Quisque rutrum. Aenean imperdiet.
											</p>
											<a href="#" class="btn btn-prime btn-lg border-radius-30 font__weight-bold ml-0 mr-0 mt-30" data-brk-library="component__button">
												<span class="before"></span><span class="after"></span><span class="border-btn"></span>Button
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
{% endblock %}