/*
* Controls
* ================ */
.form-control {
  position: relative;
  margin: 0;
  padding: 0;
  background: transparent;
  box-shadow: none;
  border: none; }

@-webkit-keyframes flyOut {
  0% {
    -webkit-transform: translate(0, 0) scale(1) rotate(0);
            transform: translate(0, 0) scale(1) rotate(0); }
  50% {
    -webkit-transform: translate(150%, -150%) scale(0) rotate(-20deg);
            transform: translate(150%, -150%) scale(0) rotate(-20deg); }
  51% {
    -webkit-transform: translate(-50%, 150%) scale(0) rotate(-20deg);
            transform: translate(-50%, 150%) scale(0) rotate(-20deg); }
  100% {
    -webkit-transform: translate(0, 0) scale(1) rotate(0);
            transform: translate(0, 0) scale(1) rotate(0); } }

@keyframes flyOut {
  0% {
    -webkit-transform: translate(0, 0) scale(1) rotate(0);
            transform: translate(0, 0) scale(1) rotate(0); }
  50% {
    -webkit-transform: translate(150%, -150%) scale(0) rotate(-20deg);
            transform: translate(150%, -150%) scale(0) rotate(-20deg); }
  51% {
    -webkit-transform: translate(-50%, 150%) scale(0) rotate(-20deg);
            transform: translate(-50%, 150%) scale(0) rotate(-20deg); }
  100% {
    -webkit-transform: translate(0, 0) scale(1) rotate(0);
            transform: translate(0, 0) scale(1) rotate(0); } }

.badge:not(a).badge-primary {
  background: -webkit-gradient(linear, left top, right top, from(var(--brk-base-2)), to(var(--brk-base-5)));
  background: linear-gradient(to right, var(--brk-base-2), var(--brk-base-5));
  color: #fff;
  border-radius: 50px;
  padding: 0 20px; }

a.badge .badge-primary {
  background: -webkit-gradient(linear, left bottom, left top, from(#337EFF), to(#0FC8FF));
  background: linear-gradient(to top, #337EFF, #0FC8FF);
  color: #fff;
  vertical-align: middle; }

.divider-dashed {
  width: 100%;
  display: block;
  margin: 30px 0 25px;
  float: left;
  position: relative; }
  .divider-dashed:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 0;
    width: 100%;
    opacity: 0.2;
    border-bottom: 1px dashed; }
