.slider-thumbnailed_shop-sidebar {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  margin-bottom: 100px; }
  .slider-thumbnailed_shop-sidebar .slider-thumbnailed-nav {
    max-width: 260px;
    box-shadow: 0px -10px 15px 0px rgba(0, 0, 0, 0.06); }
  .slider-thumbnailed_shop-sidebar .slider-thumbnailed-nav {
    border-radius: 8px; }
  .slider-thumbnailed_shop-sidebar .slider-thumbnailed-nav .brk-slid,
  .slider-thumbnailed_shop-sidebar .slider-thumbnailed-nav .brk-slid__overlay,
  .slider-thumbnailed_shop-sidebar .slider-thumbnailed-nav .brk-slid__img {
    border-radius: 4px; }
  .slider-thumbnailed_shop-sidebar .brk-slid__img {
    -o-object-position: center top;
       object-position: center top; }

.brk-sc-divider {
  display: block;
  width: 100%;
  height: 3px;
  background-image: url(../../img/dotted-border.png); }

.brk-sc-info-grid > div {
  min-width: 50%;
  margin-bottom: 34px; }

.brk-color-filter_shop .brk-color-filter__title {
  text-align: left !important; }
  .brk-color-filter_shop .brk-color-filter__title:before {
    display: none; }

.brk-color-filter_shop .brk-color-filter__title-text {
  padding: 0; }

.brk-color-filter_shop .brk-color-filter__container {
  margin-left: -6px; }

.brk-sc-item-page-body__bg {
  position: relative;
  box-shadow: inset 0 5px 26px rgba(0, 0, 0, 0.03);
  background-color: #f9f9f9; }
  .brk-sc-item-page-body__bg .brk-sc-bonus {
    top: -109px;
    margin-bottom: -62px; }
  .brk-sc-item-page-body__bg .brk-tabs_rounded {
    position: relative;
    top: -58px; }

.brk-sc-item-page-body__bg-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center; }

.brk-sc-item-page-tabs .brk-tabs-nav {
  z-index: 1; }
  @media screen and (max-width: 1230px) {
    .brk-sc-item-page-tabs .brk-tabs-nav {
      min-width: 200px !important; } }

.brk-sc-item-page-tabs .brk-tab-item {
  margin-top: -68px;
  padding-left: 17px; }
  @media screen and (max-width: 1230px) {
    .brk-sc-item-page-tabs .brk-tab-item {
      margin-top: 0; } }
  @media screen and (max-width: 767px) {
    .brk-sc-item-page-tabs .brk-tab-item {
      padding-left: 0; } }

.brk-sc-item-page-tabs .brk-tab.active, .brk-sc-item-page-tabs .brk-tab:hover {
  color: #000000; }

.brk-sc-shop-item {
  margin-bottom: 200px; }
  .brk-sc-shop-item__main .arrows-modern .slick-next::before,
  .brk-sc-shop-item__main .arrows-modern .slick-prev::before {
    color: var(--brand-primary); }
  .brk-sc-shop-item__main .slider-thumbnailed_shop-sidebar {
    width: 310px; }
    .brk-sc-shop-item__main .slider-thumbnailed_shop-sidebar .slider-thumbnailed-for .slick-slide {
      height: 454px; }
    .brk-sc-shop-item__main .slider-thumbnailed_shop-sidebar .slider-thumbnailed-nav {
      max-width: 220px; }
      @media (min-width: 576px) {
        .brk-sc-shop-item__main .slider-thumbnailed_shop-sidebar .slider-thumbnailed-nav {
          -webkit-transform: translate(-50%, 41%);
                  transform: translate(-50%, 41%); } }
  .brk-sc-shop-item__labels {
    position: absolute;
    left: -22px;
    top: 28px;
    z-index: 96; }
    .brk-sc-shop-item__labels .brk-sc-card-labels {
      position: relative; }
      .brk-sc-shop-item__labels .brk-sc-card-labels:nth-child(2) {
        top: -17px; }
    @media screen and (max-width: 620px) {
      .brk-sc-shop-item__labels {
        left: 28px;
        top: 12px; } }
  .brk-sc-shop-item__info {
    padding-left: 32px; }
  .brk-sc-shop-item__info-btn {
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    padding-top: 12px;
    padding-bottom: 12px; }
    .brk-sc-shop-item__info-btn .border-btn {
      display: none; }

/*.brk-tabs_shop{
  margin-top: -58px;
}*/
.brs-sidebar_right {
  height: 100%;
  position: relative; }
