.brk-tables {
  /* Trend */
  /* End Trend */
  /* Lines */
  /* End Lines */
  /* Strict */
  /* End Strict */
  /* Pedestal */
  /* End Pedestal */
  /* Compare */
  /* End Compare */
  /* Forms */
  /* Forms */ }
  @media (min-width: 768px) {
    .brk-tables-trend table th:before {
      content: '';
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      bottom: 0;
      width: 0;
      height: 2px;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      background-image: -webkit-gradient(linear, left top, right top, from(var(--brk-base-3)), to(var(--brk-secondary-3)));
      background-image: linear-gradient(to right, var(--brk-base-3), var(--brk-secondary-3)); } }
  @media (min-width: 768px) {
    .brk-tables-trend table th.brk-tables_hover:before, .brk-tables-trend table th.brk-tables_active:before {
      width: 100%; } }
  @media (max-width: 767px) {
    .brk-tables-trend table td {
      padding: 10px 0;
      display: block;
      border-bottom: 1px solid #eaeaea; }
      .brk-tables-trend table td:last-child {
        border: 0; }
      .brk-tables-trend table td:before {
        content: attr(data-title);
        float: left;
        font-weight: bold; } }
  @media (min-width: 768px) {
    .brk-tables-trend table td.brk-tables_hover, .brk-tables-trend table td.brk-tables_active {
      background-color: #fafafa; } }
  .brk-tables-lines .brk-form-wrap {
    margin-top: 0 !important;
    display: inline-block; }
  .brk-tables-lines__entries-search form {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between; }
    @media (max-width: 767px) {
      .brk-tables-lines__entries-search form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
                align-items: flex-start; } }
  .brk-tables-lines__entries-search span {
    font-size: 1rem;
    line-height: 54px;
    font-weight: bold;
    display: inline-block; }
    @media (max-width: 767px) {
      .brk-tables-lines__entries-search span {
        font-size: 0.875rem;
        font-weight: 600; } }
  .brk-tables-lines__search .first-title {
    margin-right: 10px; }
  @media (max-width: 991px) {
    .brk-tables-lines__table {
      overflow-x: scroll; } }
  .brk-tables-lines__table table {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12);
    margin: 35px 0;
    min-width: 900px; }
    .brk-tables-lines__table table thead {
      font-weight: bold;
      font-size: 0.9375rem;
      line-height: 18px; }
    .brk-tables-lines__table table th {
      padding-top: 25px;
      padding-bottom: 25px; }
      .brk-tables-lines__table table th i {
        margin-right: 9px; }
    .brk-tables-lines__table table tbody {
      font-size: 0.875rem;
      line-height: 16px; }
      .brk-tables-lines__table table tbody tr:nth-child(2n+1) {
        background-color: #f8fafe;
        border: 1px solid var(--brk-base-4); }
    .brk-tables-lines__table table td {
      width: 16.66667%;
      padding-top: 17px;
      padding-bottom: 18px; }
    .brk-tables-lines__table table th, .brk-tables-lines__table table td {
      text-align: left;
      padding-right: 10px;
      padding-left: 30px; }
  .brk-tables-lines__sort .brk-form-wrap {
    width: 100%; }
  .brk-tables-lines__sort-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    margin-left: -6px;
    padding-right: -6px; }
  .brk-tables-lines__sort-col-1 {
    -webkit-flex-basis: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 0 6px; }
    @media (max-width: 991px) {
      .brk-tables-lines__sort-col-1 {
        -webkit-flex-basis: 25%;
                flex-basis: 25%;
        max-width: 25%; } }
    @media (max-width: 767px) {
      .brk-tables-lines__sort-col-1 {
        -webkit-flex-basis: 50%;
                flex-basis: 50%;
        max-width: 50%; } }
    @media (max-width: 575px) {
      .brk-tables-lines__sort-col-1 {
        -webkit-flex-basis: 100%;
                flex-basis: 100%;
        max-width: 100%; } }
  .brk-tables-lines__sort-col-2 {
    -webkit-flex-basis: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 0 6px; }
    @media (max-width: 991px) {
      .brk-tables-lines__sort-col-2 {
        -webkit-flex-basis: 50%;
                flex-basis: 50%;
        max-width: 50%; } }
    @media (max-width: 767px) {
      .brk-tables-lines__sort-col-2 {
        -webkit-flex-basis: 100%;
                flex-basis: 100%;
        max-width: 100%; } }
  .brk-tables-lines__sort-nav {
    min-height: 68px;
    background-color: #fff;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-top: 55px; }
    @media (max-width: 767px) {
      .brk-tables-lines__sort-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
                flex-direction: column; } }
    .brk-tables-lines__sort-nav .dataTables_info {
      font-size: 0.875rem !important;
      -webkit-flex-basis: 100%;
              flex-basis: 100%;
      width: 100%;
      text-align: left;
      letter-spacing: -0.02em;
      padding: 23px 0 0 35px !important;
      margin: 0 !important; }
      @media (min-width: 992px) {
        .brk-tables-lines__sort-nav .dataTables_info {
          -webkit-flex-basis: 50%;
                  flex-basis: 50%;
          width: 50%; } }
      .brk-tables-lines__sort-nav .dataTables_info strong {
        font-weight: bold;
        margin: 0 2px; }
    .brk-tables-lines__sort-nav .dataTables_paginate {
      font-weight: 600;
      position: relative;
      padding-left: 35px;
      padding-right: 100px;
      -webkit-flex-basis: 100%;
              flex-basis: 100%;
      width: 100%;
      float: none !important;
      text-align: inherit !important;
      margin-top: 0 !important;
      height: auto !important;
      line-height: normal !important; }
      @media (min-width: 992px) {
        .brk-tables-lines__sort-nav .dataTables_paginate {
          -webkit-flex-basis: 50%;
                  flex-basis: 50%;
          width: 50%; } }
      @media (max-width: 575px) {
        .brk-tables-lines__sort-nav .dataTables_paginate {
          padding-left: 10px;
          padding-right: 80px; } }
      .brk-tables-lines__sort-nav .dataTables_paginate > span {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
        height: 100%; }
      .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button {
        font-size: 0.875rem;
        line-height: 68px !important;
        position: relative;
        display: block;
        padding: 0 15px;
        cursor: pointer; }
        @media (max-width: 575px) {
          .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button {
            padding: 0 10px;
            line-height: 48px; } }
        .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 0;
          -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          background-color: var(--brand-primary); }
        .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button:hover {
          color: var(--brand-primary); }
        .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.current {
          color: var(--brand-primary); }
        .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button:hover:after, .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.current:after {
          height: 3px; }
        .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.first:after, .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.previous:after, .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.next:after, .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.last:after, .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.dots:after {
          display: none; }
        .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.first, .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.previous, .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.next, .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.last {
          font: 0/0 a;
          width: 20px;
          height: 100%;
          position: absolute;
          top: 0;
          padding: 0; }
          .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.first:hover i, .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.previous:hover i, .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.next:hover i, .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.last:hover i {
            font-size: 1.75rem; }
          .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.first:before, .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.previous:before, .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.next:before, .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.last:before {
            display: none; }
          .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.first i, .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.previous i, .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.next i, .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.last i {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
            font-size: 1.5rem;
            line-height: 24px;
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            color: var(--brand-primary); }
        .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.first {
          right: 75px; }
        .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.previous {
          right: 55px; }
        .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.next {
          right: 35px; }
        .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.last {
          right: 15px; }
        .brk-tables-lines__sort-nav .dataTables_paginate .paginate_button.dots {
          padding: 0; }
  @media (max-width: 991px) {
    .brk-tables-strict {
      overflow-x: scroll; } }
  .brk-tables-strict table {
    margin: 30px 0;
    min-width: 900px;
    color: rgba(39, 39, 39, 0.6);
    text-align: left;
    box-shadow: none; }
    .brk-tables-strict table thead {
      font-weight: bold;
      font-size: 0.9375rem;
      line-height: 18px; }
    .brk-tables-strict table th {
      padding: 26px 10px 25px 32px;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      .brk-tables-strict table th.brk-tables_hover, .brk-tables-strict table th.brk-tables_active {
        background-color: #f5f8ff;
        color: #272727; }
    .brk-tables-strict table tbody {
      font-size: 0.9375rem;
      line-height: 18px; }
      .brk-tables-strict table tbody tr {
        border-top: 2px solid var(--brk-base-4); }
    .brk-tables-strict table td {
      padding: 22px 10px 22px 32px;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      .brk-tables-strict table td.brk-tables_hover, .brk-tables-strict table td.brk-tables_active {
        background-color: #f5f8ff;
        color: #272727; }
  @media (max-width: 991px) {
    .brk-tables-pedestal {
      overflow-x: scroll; } }
  .brk-tables-pedestal table {
    margin: 30px 0;
    min-width: 900px;
    text-align: left;
    border-collapse: separate !important;
    border-spacing: 0 14px !important;
    box-shadow: none; }
    .brk-tables-pedestal table thead {
      font-weight: bold;
      font-size: 0.9375rem;
      line-height: 18px; }
    .brk-tables-pedestal table th {
      width: 16.66667%;
      color: #272727;
      padding: 21px 10px 22px 30px;
      border-bottom: 1px solid #e9e9e9; }
      .brk-tables-pedestal table th i {
        margin-right: 10px; }
    .brk-tables-pedestal table tbody tr {
      box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1); }
    .brk-tables-pedestal table td {
      border-right: 1px solid #e9e9e9;
      color: rgba(39, 39, 39, 0.6);
      padding: 19px 25px 19px 25px;
      letter-spacing: -0.04em; }
      .brk-tables-pedestal table td:first-child {
        color: #272727; }
      .brk-tables-pedestal table td:last-child {
        border-right: 0; }
  .brk-tables-compare {
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.1); }
    .brk-tables-compare table thead {
      border: none;
      display: table-header-group; }
    .brk-tables-compare table tr {
      margin-bottom: 0;
      border-bottom: 1px solid #eaeaea;
      box-shadow: none;
      display: table-row; }
      .brk-tables-compare table tr:last-child {
        border-bottom: none; }
    .brk-tables-compare table th {
      text-align: center;
      padding-left: 40px; }
      .brk-tables-compare table th:first-child {
        text-align: left; }
    .brk-tables-compare table td {
      display: table-cell;
      text-align: center;
      padding: 28px 64px;
      border: none; }
      .brk-tables-compare table td:first-child {
        text-align: left;
        padding-right: 43px;
        padding-left: 38px; }
      .brk-tables-compare table td img {
        width: 100%;
        max-width: 200px; }
    .brk-tables-compare .list-check li {
      line-height: 22px;
      margin-top: 9px;
      margin-bottom: 9px; }
      .brk-tables-compare .list-check li:before, .brk-tables-compare .list-check li:after {
        background: var(--brand-primary); }
    .brk-tables-compare .added_to_cart {
      display: inline-block;
      min-width: 200px;
      height: 46px;
      border-radius: 28px;
      position: relative;
      letter-spacing: -0.06em;
      font-size: 0.8125rem;
      line-height: 46px;
      font-weight: 600;
      color: #272727;
      overflow: hidden;
      margin: 0 0 15px;
      padding: 0;
      box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1); }
      .brk-tables-compare .added_to_cart:before, .brk-tables-compare .added_to_cart:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.05);
        height: 50%;
        z-index: 0; }
      .brk-tables-compare .added_to_cart:before {
        top: -100%;
        -webkit-transition: top .3s;
        transition: top .3s; }
      .brk-tables-compare .added_to_cart:after {
        bottom: -100%;
        -webkit-transition: bottom .3s;
        transition: bottom .3s; }
      .brk-tables-compare .added_to_cart:hover {
        color: #272727; }
        .brk-tables-compare .added_to_cart:hover:before {
          top: 0; }
        .brk-tables-compare .added_to_cart:hover:after {
          bottom: 0; }
  .brk-tables .btn-group {
    position: relative;
    display: inline-block !important;
    height: 53px !important; }
    .brk-tables .btn-group .btn {
      border-bottom: 1px solid var(--brk-base-7) !important;
      color: rgba(39, 39, 39, 0.4) !important; }
      .brk-tables .btn-group .btn:before {
        background-position: center 51% !important; }
      .brk-tables .btn-group .btn:after {
        display: none; }
  .brk-tables .form-control[type="search"] {
    height: 53px;
    padding: 0 !important;
    border-bottom: 1px solid var(--brk-base-7) !important; }
  .brk-tables .jq-selectbox {
    width: 76px !important;
    margin: 0 5px !important;
    display: inline-block;
    font-weight: normal; }
    .brk-tables .jq-selectbox select {
      display: none; }
  .brk-tables .dataTables_length {
    display: inline-block;
    font-size: 1rem;
    line-height: 54px;
    font-weight: bold; }
    @media (max-width: 767px) {
      .brk-tables .dataTables_length {
        font-size: 0.875rem;
        font-weight: 600; } }
    .brk-tables .dataTables_length label {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
              align-items: center; }
  .brk-tables .dataTables_filter {
    display: inline-block;
    font-size: 1rem;
    line-height: 54px;
    font-weight: bold; }
    @media (min-width: 768px) {
      .brk-tables .dataTables_filter {
        float: right; } }
    @media (max-width: 767px) {
      .brk-tables .dataTables_filter {
        font-size: 0.875rem;
        font-weight: 600; } }
    .brk-tables .dataTables_filter label {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
              align-items: center; }
    .brk-tables .dataTables_filter [type="search"] {
      max-width: 235px;
      height: 54px;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      padding: 0 15px 0 21px;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      border-bottom: 1px solid var(--brk-base-7) !important;
      color: #272727;
      margin-left: 10px; }

/* Reset Select */
select.brk-form-select-strict,
select.brk-form-multiselect-strict {
  display: none; }

.jq-selectbox,
.jq-select-multiple {
  position: relative;
  display: inline-block; }
  .jq-selectbox select,
  .jq-select-multiple select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0; }
  .jq-selectbox li,
  .jq-select-multiple li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap; }

.jq-selectbox {
  z-index: 10; }
  .jq-selectbox__select {
    position: relative; }
    .jq-selectbox__select-text {
      overflow: hidden;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      white-space: nowrap;
      text-overflow: ellipsis; }
  .jq-selectbox__dropdown {
    position: absolute; }
    .jq-selectbox__dropdown ul {
      position: relative;
      overflow: auto;
      overflow-x: hidden;
      list-style: none;
      -webkit-overflow-scrolling: touch; }

.jq-select-multiple ul {
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

/* End Reset Select */
